{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="cmprofile container py-4">
    <div class="bg-white whitearea py-4 px-3 px-md-4 px-lg-5">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="heading mb-0">
          <a href="{% url 'my-profile'%}" class="me-1"><i class="fa-solid fa-circle-arrow-left"></i></a> Edit Profile
        </h1>
        <a href="{% url 'home'%}" class="title add-adddetail-btn ">
          Skip
        </a>

      </div>
      <section class="whycom-profile d-flex g-3 mt-3 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <h4 class="mb-1">Why complete your profile?</h4>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
        </article>
      </section>
      <div class="col-md-12 col-lg-10">
        <form method="post" enctype="multipart/form-data" class="mt-4">
          {% csrf_token %}
          <div class="upphoto rounded-circle bg-secondary-subtle position-relative d-flex align-items-center justify-content-center mb-3">
            {% if user_profile.u_image %}
                <!-- Display current profile image -->
                <img src="{{ user_profile.u_image.url }}" alt="Profile Image" class="rounded-circle me-1" style="height: 80px; width: 80px;">
            {% else %}
                <!-- Display default blank profile image -->
                <img src="{% static 'images/upload_profile.png' %}" alt="Blank Image" class="rounded-circle me-1"  style="height: 80px; width: 80px;">
            {% endif %}
            <input type="file" name="u_image" id="imageInput" class="position-absolute" onchange="previewImage(this)">
        </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <label class="form-label">Name</label>
              <div class="input-group">
                <select class="form-select" name="suffix">
                  <option value="">Suffix</option>
                  <option value="Mr" name="suffix" {% if user_profile.suffix == 'Mr' %} selected {% endif %}>Mr</option>
                  <option value="Mrs" name="suffix" {% if user_profile.suffix == 'Mrs' %} selected {% endif %}>Mrs</option>
                  <option value="Miss" name="suffix" {% if user_profile.suffix == 'Miss' %} selected {% endif %}>Miss</option>
                </select>
                <input type="text" class="form-control " placeholder="First Name" name="first_name" value="{{ user_profile.first_name|default:'' }}">
                <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ user_profile.last_name|default:'' }}">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" name="email" value="{{ user_profile.email }}" disabled>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Site</label>
              <input type="text" class="form-control" name="email" value="{{ user_profile.site }}" disabled>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Phone/Mobile Number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="+91" style="max-width: 75px;" name="mobile_code"
                        value="{{ user_profile.mobile_code|default:'' }}">
                    <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile"
                        value="{{ user_profile.mobile|default:'' }}">
                </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Birthday</label>
                  <input class="form-control" type="date" name="dob" value="{{ user.dob|date:'Y-m-d' }}">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Gender</label>
                  <select class="form-select" name="gender">
                    <option value="">Select</option>
                    <option value="Male" name="gender" {% if user_profile.gender == 'Male' %} selected {% endif %}>Male
                    </option>
                    <option value="Female" name="gender" {% if user_profile.gender == 'Female' %} selected {% endif %}>
                      Female</option>
                    <option value="Transgender" name="gender" {% if user_profile.gender == 'Transgender' %} selected {% endif %}>Transgender</option>
                    <option value="Other" name="gender" {% if user_profile.gender == 'Other' %} selected {% endif %}>Other
                    </option>
                  </select>
                </div>

                <div class="col-md-6 mb-4">
                  <label class="form-label">Marital Status</label>
                  <select class="form-select" name="marital_status" id="maritalStatus">
                    <option value="">Select</option>
                    <option value="Married" {% if user_profile.marital_status == 'Married' %} selected {% endif %}>Married
                    </option>
                    <option value="Unmarried" {% if user_profile.marital_status == 'Unmarried' %} selected {% endif %}>
                      Unmarried</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Address</label>
              <input type="text" name="address" class="form-control" placeholder="Enter Address" value="{{ user_profile.address|default:'' }}">
          </div>
          
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Apt./Unit #</label>
                  <input type="text" class="form-control" name="address2" placeholder="Enter Apt./Unit" value="{{ user_profile.address2|default:'' }}">
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Zip</label>
                  <input type="text" class="form-control" name="zip" placeholder="Enter Zip" value="{{ user_profile.zip|default:'' }}">
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="allradios p-3">
                <label class="form-label">Type Of Residence</label>
                <div class="d-flex mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault1" name="residence" value="Owner" {% if user_profile.residence == 'Owner' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Owner
                    </label>
                  </div>

                  <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" id="flexRadioDefault2" name="residence" value="Rental" {%if user_profile.residence == 'Rental' %} checked {% endif %}>
                    <label class="form-check-label">
                      Rental
                    </label>
                  </div>
                </div>
                <label class="form-label">Were you licensed to drive before turning 41 in the U.S., it's Territories or
                  Canada?</label>
                <div class="d-flex mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault3" name="licensed_drive_before_41"
                      value="Yes" {% if user_profile.licensed_drive_before_41 == 'Yes' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                      Yes
                    </label>
                  </div>
                  <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" id="flexRadioDefault4" name="licensed_drive_before_41"
                      value="No" {% if user_profile.licensed_drive_before_41 == 'No' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault4">
                      No
                    </label>
                  </div>
                </div>
                <label class="form-label">Are you affiliated with any of the following?</label>
                <div class="d-flex profile-afffoll-radio">
                  <div class="form-check mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" id="flexRadioDefault5" name="affiliated_with"
                      value="Military" {% if user_profile.affiliated_with == 'Military' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault5">
                      Military
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" id="flexRadioDefault6" name="affiliated_with"
                      value="State/Local Goverment" {% if user_profile.affiliated_with == 'State/Local Goverment' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault6">
                      State/Local Goverment
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" id="flexRadioDefault7" name="affiliated_with"
                      value="Federal Government/Postal Services" {% if user_profile.affiliated_with == 'Federal Government/Postal Services' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault7">
                      Federal Government/Postal Services
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" id="flexRadioDefault8" name="affiliated_with"
                      value="Dose Not Apply" {% if user_profile.affiliated_with == 'Dose Not Apply' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault8">
                      Dose Not Apply
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Type of Employment</label>
              <select class="form-select" name="employment">
                <option selected {% if not user_profile.employment %} selected {% endif %} value="">Select</option>
                <option name="employment" value="Full Time" {% if user_profile.employment == 'Full Time' %} selected {% endif %}>Full Time</option>
                <option name="employment" value="Part Time" {% if user_profile.employment == 'Part Time' %} selected {% endif %}>Part Time</option>
              </select>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Occuption</label>
                  <input type="text" class="form-control" name="occuption" placeholder="Enter Occuption" value="{{ user_profile.occuption|default:'' }}">
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Job Title</label>
                  <input type="text" class="form-control" name="job_title" placeholder="Enter Job Title" value="{{ user_profile.job_title|default:'' }}">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-2 pb-4">
              <button type="submit" class="btn btn-primary">Save Changes</button>
              <!-- <a href="{% url 'my-profile'%}" class="btn btn-primary">Save Changes</a> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function previewImage(input) {
        var preview = document.querySelector('.upphoto img');
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = '/image.jpg';  // Default image if no file is selected
        }
    }
</script>




{% endblock %}