{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="cmprofile add-vehicle container py-4">
    <div class="bg-white whitearea py-4 px-3 px-md-4 px-lg-5">
        <div class="d-flex align-items-center">
            <h1 class="heading mb-0 d-flex">
                <a href="{% url 'home'%}" class="me-2"><i class="fa-solid fa-circle-arrow-left"></i></a> Add Vehicle in
                Your
                Garage
            </h1>
            <a href="{% url 'home'%}" class="title add-adddetail-btn " style=" margin-left: 640px; ">
                Skip
            </a>
        </div>
        <div class="col-md-12 col-lg-6">
            <form class="mt-4 vehicle-form-add" method="post" enctype="multipart/form-data" onsubmit="openLoader()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Vehicle VIN *</label>
                        <input type="text" name="vin" value="{{ vehicle.vin|default:'' }}" class="form-control">
                        {% if errorMessage.vin %}
                        <p class="text-danger vin mt-2">Vehicle VIN number is required</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <label class="form-label fw-medium mb-1">Make*</label>
                        <select class="form-select" name="make">
                          <option selected {% if not vehicle.make   %} selected {% endif %}>Select</option>
                          <option value="Macktrucks" name="make" {% if vehicle.make == 'Macktrucks' %} selected {% endif %}>Macktrucks</option>
                          <option value="Volvotrucks" name="make" {% if vehicle.make == 'Volvotrucks' %} selected {% endif %}>Volvotrucks</option>
                          <option value="Toyota" name="make" {% if vehicle.make == 'Toyota' %} selected {% endif %}>Toyota</option>
                          <option value="Chevrolet" name="make" {% if vehicle.make == 'Chevrolet' %} selected {% endif %}>Chevrolet</option>
                          <option value="Ford" name="make" {% if vehicle.make == 'Ford' %} selected {% endif %}>Ford</option>
                          <option value="Honda" name="make" {% if vehicle.make == 'Honda' %} selected {% endif %}>Honda</option>
                          <option value="Nissan" name="make" {% if vehicle.make == 'Nissan' %} selected {% endif %}>Nissan</option>
                          <option value="Hyundai" name="make" {% if vehicle.make == 'Hyundai' %} selected {% endif %}>Hyundai</option>
                          <option value="Volkswagen" name="make" {% if vehicle.make == 'Volkswagen' %} selected {% endif %}>Volkswagen</option>
                          <option value="Volvo" name="make" {% if vehicle.make == 'Volvo' %} selected {% endif %}>Volvo</option>
                          <option value="Hyundai" name="make" {% if vehicle.make == 'Hyundai' %} selected {% endif %}>Hyundai</option>
                          <option value="Mercedes" name="make" {% if vehicle.make == 'Mercedes' %} selected {% endif %}>Mercedes</option>
                          <option value="BMW" name="make" {% if vehicle.make == 'BMW' %} selected {% endif %}>BMW</option>
                          <option value="Fiat" name="make" {% if vehicle.make == 'Fiat' %} selected {% endif %}>Fiat</option>
                          <option value="Acura" name="make" {% if vehicle.make == 'Acura' %} selected {% endif %}>Acura</option>
                          <option value="Jaguar" name="make" {% if vehicle.make == 'Jaguar' %} selected {% endif %}>Jaguar</option>
                          <option value="LandRover" name="make" {% if vehicle.make == 'LandRover' %} selected {% endif %}>LandRover</option>
                          <option value="Mazda" name="make" {% if vehicle.make == 'Mazda' %} selected {% endif %}>Mazda</option>
                          <option value="Subaru" name="make" {% if vehicle.make == 'Subaru' %} selected {% endif %}>Subaru</option>
                          <option value="Mini" name="make" {% if vehicle.make == 'Mini' %} selected {% endif %}>Mini</option>
                          <option value="Mitsubishi" name="make" {% if vehicle.make == 'Mitsubishi' %} selected {% endif %}>Mitsubishi</option>
                          <option value="Buick" name="make" {% if vehicle.make == 'Buick' %} selected {% endif %}>Buick</option>
                          <option value="Cadillac" name="make" {% if vehicle.make == 'Cadillac' %} selected {% endif %}>Cadillac</option>
                          <option value="Lexus" name="make" {% if vehicle.make == 'Lexus' %} selected {% endif %}>Lexus</option>
                          <option value="Chrysler" name="make" {% if vehicle.make == 'Chrysler' %} selected {% endif %}>Chrysler</option>
                          <option value="Lincoln" name="make" {% if vehicle.make == 'Lincoln' %} selected {% endif %}>Lincoln</option>
                          <option value="Audi" name="make" {% if vehicle.make == 'Audi' %} selected {% endif %}>Audi</option>
                          <option value="Jeep" name="make" {% if vehicle.make == 'Jeep' %} selected {% endif %}>Jeep</option>
                          <option value="AlfaRomeo" name="make" {% if vehicle.make == 'AlfaRomeo' %} selected {% endif %}>AlfaRomeo</option>
                          <option value="Dodge" name="make" {% if vehicle.make == 'Dodge' %} selected {% endif %}>Dodge</option>
                          <option value="Kia" name="make" {% if vehicle.make == 'Kia' %} selected {% endif %}>Kia</option>
                          <option value="Infiniti" name="make" {% if vehicle.make == 'Infiniti' %} selected {% endif %}>Infiniti</option>
                          <option value="Genesis" name="make" {% if vehicle.make == 'Genesis' %} selected {% endif %}>Genesis</option>
                          <option value="Porsche" name="make" {% if vehicle.make == 'Porsche' %} selected {% endif %}>Porsche</option>
                          <option value="Smart" name="make" {% if vehicle.make == 'Smart' %} selected {% endif %}>Smart</option>
                          <option value="Tesla" name="make" {% if vehicle.make == 'Tesla' %} selected {% endif %}>Tesla</option>
                          <option value="International" name="make" {% if vehicle.make == 'International' %} selected {% endif %}>International</option>
                          <option value="Isuzucv" name="make" {% if vehicle.make == 'Isuzucv' %} selected {% endif %}>Isuzucv</option>
                          <option value="Demanddetroit" name="make" {% if vehicle.make == 'Demanddetroit' %} selected {% endif %}>Demanddetroit</option>
                          <option value="Freightliner" name="make" {% if vehicle.make == 'Freightliner' %} selected {% endif %}>Freightliner</option>
                          <option value="Selectrucks" name="make" {% if vehicle.make == 'Selectrucks' %} selected {% endif %}>Selectrucks</option>
                          <option value="Thomasbuilt" name="make" {% if vehicle.make == 'Thomasbuilt' %} selected {% endif %}>Thomasbuilt</option>
                          <option value="Westernstar" name="make" {% if vehicle.make == 'Westernstar' %} selected {% endif %}>Westernstar</option>
                          <option value="Fordcommercial" name="make" {% if vehicle.make == 'Fordcommercial' %} selected {% endif %}>Fordcommercial</option>
                          <option value="Paccar" name="make" {% if vehicle.make == 'Paccar' %} selected {% endif %}>Paccar</option>
                        </select>
                        {% if errorMessage.make %}
                            <p class="text-danger make mt-2">Vehicle Make is required</p>
                        {% endif %}
                      </div>
                    <!-- <div class="col-md-6 mb-3">
                        <label class="form-label">Make*</label>
                        <input type="text" name="make" value="{{ vehicle.make|default:'' }}" class="form-control">
                        {% if errorMessage.make %}
                        <p class="text-danger make mt-2">Vehicle Make is required</p>
                        {% endif %}
                    </div> -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Model*</label>
                        <input type="text" name="model" value="{{ vehicle.model|default:'' }}" class="form-control">
                        {% if errorMessage.model %}
                        <p class="text-danger model mt-2">Vehicle Model is required</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Model Year*</label>
                        <input type="text" name="model_year" class="form-control" maxlength="4"
                            value="{{ vehicle.model_year|default:'' }}">
                        {% if errorMessage.model_year %}
                        <p class="text-danger model_year mt-2">Vehicle Model Year is required</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Series*</label>
                        <input type="text" name="series" value="{{ vehicle.series|default:'' }}" class="form-control">
                        {% if errorMessage.series %}
                        <p class="text-danger series mt-2">Vehicle Series is required</p>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mb-4">
                        <label class="form-label">Trim</label>
                        <input type="text" name="trim" value="{{ vehicle.trim|default:'' }}" class="form-control">
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Upload Window Sticker</label>
                        <div class="form-label">
                            {% if vehicle.window_sticker %}
                            <img src="{{ vehicle.window_sticker.url }}" alt="Window Sticker" class="img-thumbnail mt-2"
                                style="max-width: 130px;">
                            {% endif %}
                            <input type="file" name="window_sticker">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Upload Insurance Card</label>
                        <div class="form-label mb-3">
                            {% if vehicle.insurance_card %}
                            <img src="{{ vehicle.insurance_card.url }}" alt="Insurance Card" class="img-thumbnail mt-2"
                                style="max-width: 130px;">
                            {% endif %}
                            <input type="file" name="insurance_card">
                        </div>
                    </div>
                    <div class="col-md-12 montharea mt-2" id="extra-fields-container">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <label class="form-label">Upload Service Record</label>
                            </div>
                            <div class="col-md-12" id="extra-service-records">
                                <div class="row">
                                    <div class="col-md-4 col-6">
                                        <input type="date" name="service_date"
                                            value="{{ service_record.service_date|default:'' }}"
                                            style=" margin-top: 25px; " class="form-control upsere-date"
                                            placeholder="Date" multiple />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="form-label mb-3">
                                            {% if vehicle_image.vehicle_image %}
                                            <img src="{{ vehicle_image.vehicle_image.url }}" alt="Vehicle Image"
                                                class="img-thumbnail mt-2" style="max-width: 70px;">
                                            {% endif %}
                                            <input type="file" 
                                                name="vehicle_image" class="position-absolute"
                                                style=" margin-left: 11px; margin-top: 25px; " multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pt-1 mt-1">
                                <a href="#" class="txt-addmore fw-medium" id="add-more-service-records">Add More</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Upload Vehicle Photos</label>
                        <div class="d-flex">
                            <figure class="vehiclephoto-static position-relative me-3">
                                <img src="{% static 'images/upload-vehicle.jpg' %}" alt="">
                                <figcaption class="text-center position-absolute text-uppercase">Delete</figcaption>
                            </figure>
                            <div class="form-label mb-3">
                                {% if vehicle_image.vehicle_image %}
                                <img src="{{ vehicle_image.vehicle_image.url }}" alt="Vehicle Image"
                                    class="img-thumbnail mt-2" style="max-width: 70px;">
                                {% endif %}
                                <input type="file" name="vehicle_image" class="position-absolute"
                                    style=" margin-left: 11px; margin-top: 25px; " multiple />
                            </div>
                        </div>
                    </div>
                    <div class="add-adddetails mt-3">
                        <span class="title add-adddetail-btn">Add Additional Details <i class="ms-1"></i></span>
                        <section class="whycom-profile d-flex g-3 mt-3 align-items-start p-3">
                            <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
                            <article>
                                <h4 class="mb-1">Why add additional details?</h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                    accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
                            </article>
                        </section>
                        <div style="width: 1084px; border: 0;" class="card mt-3 pb-2 add-adddetail-form">
                            <div class="mb-3">
                                <label class="form-label">Is your Vehicle Owned, Financed or Leased</label>
                                <div class="d-flex mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="vehicle_type" id="typeofresidence1" value="Owned" {% if vehicle.vehicle_type == 'Owned' %} checked {% endif %}>
                                        <label class="form-check-label" for="Owned">
                                            Owned
                                        </label>
                                    </div>
                                    <div class="form-check ms-3">
                                        <input class="form-check-input" type="radio" name="vehicle_type"
                                            id="ftypeofresidence2" value="Financed" {% if vehicle.vehicle_type == 'Financed' %} checked {% endif %}>
                                        <label class="form-check-label" for="Financed">
                                            Financed
                                        </label>
                                    </div>
                                    <div class="form-check ms-3">
                                        <input class="form-check-input" type="radio" name="vehicle_type" id="typeofresidence3" value="Leased" {% if vehicle.vehicle_type == 'Leased' %}  checked {% endif %}>
                                        <label class="form-check-label" for="Leased">
                                            Leased
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Primary Use of the Vehicle</label>
                                <div class="d-flex mb-3 mflex-dircolum">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="primery_use" value="Commute (to work or school)" id="Vehicle1" {% if  vehicle.primery_use == 'Commute (to work or school)' %} checked {% endif %}>
                                        <label class="form-check-label" for="Vehicle1">
                                            Commute (to work or school)
                                        </label>
                                    </div>
                                    <div class="form-check ms-0 ms-md-3">
                                        <input class="form-check-input" type="radio" name="primery_use" value="Pleasure" id="fVehicle2" {% if vehicle.primery_use == 'Pleasure' %} checked {% endif %}>
                                        <label class="form-check-label" for="fVehicle2">
                                            Pleasure
                                        </label>
                                    </div>
                                    <div class="form-check ms-0 ms-md-3">
                                        <input class="form-check-input" type="radio" name="primery_use"
                                            value="Business (sales, calls, etc.)" id="Vehicle3" {% if vehicle.primery_use == 'Business (sales, calls, etc.)' %} checked {% endif %}>
                                        <label class="form-check-label" for="Vehicle3">
                                            Business (sales, calls, etc.)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label fw-medium mb-1">Commute</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Days per week" style="max-width: 140px;" value="{{ vehicle.Commute|default:'' }}" name="Commute">
                                            <select class="form-select" name="Commute_choice">
                                                <option selected {% if not vehicle.Commute_choice %} selected {% endif %}>Select</option>
                                                <option value="One" {% if vehicle.Commute_choice == 'One' %} selected {% endif %}>One</option>
                                                <option value="Two" {% if vehicle.Commute_choice == 'Two' %} selected {% endif %}>Two</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label fw-medium mb-1">How many miles is your commute one-way?</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" value="{{ vehicle.commute_one_way|default:'' }}" name="commute_one_way">
                                                    <span class="input-group-text" id="basic-addon1">Miles</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4">
                                        <label class="form-label fw-medium mb-1">Annual Mileage of your Vehicle</label>
                                        <select class="form-select" name="mileage">
                                            <option value="" {% if not vehicle.mileage %} selected {% endif %}>Select</option>
                                            <option value="One" {% if vehicle.mileage == 'One' %} selected {% endif %}>One</option>
                                            <option value="Two" {% if vehicle.mileage == 'Two' %} selected {% endif %}>Two </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4">
                                        <label class="form-label fw-medium mb-1">Parking Location</label>
                                        <select class="form-select" name="parking_location">
                                            <option value="" {% if not vehicle.parking_location %} selected {% endif %}> Select</option>
                                            <option value="One" {% if vehicle.parking_location == 'One' %} selected {% endif %}>One</option>
                                            <option value="Two" {% if vehicle.parking_location == 'Two' %} selected {% endif %}>Two</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4">
                                        <label class="form-label fw-medium mb-1"># of Drivers Under The Age Of
                                            25</label>
                                        <select class="form-select" name="drivers_under_25">
                                            <option selected {% if not vehicle.drivers_under_25 %} selected {% endif %}>Select</option>
                                            <option value="One" {% if vehicle.drivers_under_25 == 'One' %} selected {%  endif %}>One</option>
                                            <option value="Two" {% if vehicle.drivers_under_25 == 'Two' %} selected {%  endif %}>Two</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4">
                                        <label class="form-label fw-medium mb-1">Auto Accidents In Past 3 Years</label>
                                        <select class="form-select" name="accidents_past_3_years">
                                            <option selected {% if not vehicle.accidents_past_3_years %} selected {% endif %}>Select</option>
                                            <option value="One" name="accidents_past_3_years" {% if vehicle.accidents_past_3_years == 'One' %} selected {% endif %}>One </option>
                                            <option value="Two" name="accidents_past_3_years" {% if vehicle.accidents_past_3_years == 'Two' %} selected {% endif %}>Two </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                                        <label class="form-label fw-medium mb-1">Auto Claims In Past 3 Years</label>
                                        <select class="form-select" name="claims_past_3_years">
                                            <option selected {% if not vehicle.claims_past_3_years %} selected {% endif %}>Select</option>
                                            <option value="One" name="claims_past_3_years" {% if vehicle.claims_past_3_years == 'One' %} selected {% endif %}>One</option>
                                            <option value="Two" name="claims_past_3_years" {% if vehicle.claims_past_3_years == 'Two' %} selected {% endif %}>Two</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                                        <label class="form-label fw-medium mb-1">Speeding Tickets In Past 3
                                            Years</label>
                                        <select class="form-select" name="speed_tickets_past_3_years">
                                            <option selected {% if not vehicle.speed_tickets_past_3_years %} selected {% endif %}>Select</option>
                                            <option value="One" name="speed_tickets_past_3_years" {% if vehicle.speed_tickets_past_3_years == 'One' %} selected {% endif %}>One</option>
                                            <option value="Two" name="speed_tickets_past_3_years" {% if vehicle.speed_tickets_past_3_years == 'Two' %} selected {% endif %}>Two </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-medium mb-1"># of additional Drivers In The
                                            Household</label>
                                        <select class="form-select" name="drivers_in_the_household">
                                            <option selected {% if not vehicle.drivers_in_the_household %} selected {% endif %}>Select</option>
                                            <option value="One" name="drivers_in_the_household" {% if vehicle.drivers_in_the_household == 'One' %} selected {% endif %}>One</option>
                                            <option value="Two" name="drivers_in_the_household" {% if vehicle.drivers_in_the_household == 'Two' %} selected {% endif %}>Two </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offcanvas-buttons border-0 px-0 mt-2">
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loadingModal" style="display: none;">
    <div class="loading">Loading</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.add-adddetail-btn').click(function () {
            $('.add-adddetail-form').slideToggle();
            $(this).toggleClass('active');
        });
        $('.vehicle-form-add input').on('keyup', function () {
            var inputValue = $(this).val();
            const type = $(this).attr('name');
            console.log(inputValue, 'inputValue');
            console.log(type, 'typeeeeeeeeeeeeeeeee');

            if (inputValue.length > 0) {
                if (type === "model_year") {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
                $(`.vehicle-form-add .${type}`).hide();
            } else {
                $(`.vehicle-form-add .${type}`).show();
            }
        });
        $('.vehicle-form-add input[model_year]').on('keyup', function () {
            // const model_year = $(this).val();
            // const type = $(this).attr('name');
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
    });

    function openLoader() {
        document.getElementById("loadingModal").style.display = "block";
    }

    document.addEventListener('DOMContentLoaded', function () {
        const addMoreServiceRecordsButton = document.getElementById('add-more-service-records');
        let serviceRecordIndex = 1;

        addMoreServiceRecordsButton.addEventListener('click', function (e) {
            e.preventDefault();

            // Clone the existing fields
            const extraServiceRecords = document.getElementById('extra-service-records');
            const newServiceRecord = extraServiceRecords.cloneNode(true);
            serviceRecordIndex++;

            // Update input names to allow multiple records to be submitted
            newServiceRecord.querySelectorAll('input[name="service_date[]"]').forEach((dateInput) => {
                dateInput.name = `service_date[${serviceRecordIndex}]`;
                dateInput.value = ''; // Clear the input value
                dateInput.removeAttribute('blank'); // Remove the blank attribute
            });
            newServiceRecord.querySelectorAll('input[name="service_image[]"]').forEach((fileInput) => {
                fileInput.name = `service_image[${serviceRecordIndex}]`;
                fileInput.value = ''; // Clear the input value
                fileInput.removeAttribute('blank'); // Remove the blank attribute
            });

            extraServiceRecords.parentNode.insertBefore(newServiceRecord, extraServiceRecords.nextSibling);
        });
    });

</script>
{% endblock %}