{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="cmprofile add-vehicle container py-4">
    <div class="bg-white whitearea pt-4 pb-5 px-3 px-md-4 px-lg-5">
      <div class="d-flex align-items-center">
        <h1 class="heading mb-0">
          <a href="{% url 'home'%}" class="me-1"><i class="fa-solid fa-circle-arrow-left"></i></a> Edit Future Vehicle
        </h1>
      </div>
      <div class="col-md-12 col-lg-6">
        <form class="mt-4" method="post" enctype="multipart/form-data" onsubmit="openLoader()">
          {% csrf_token %}
          <div class="row">
            <!-- <div class="col-md-12 mt-2">
              <label class "form-label"><b>Upload Vehicle Photos</b></label>
              <div class="d-flex">
                  <figure class="form-label mt-3 mb-3">
                    <img src="" alt="">
                    <input type="file" name="f_v_image" class="position-absolute">
                  </figure>
                  <div >
                      
                  </div>
              </div> -->
            <div class="col-md-12 mb-3">
              <label class="form-label">Vehicle Type*</label>
              <div class="d-flex">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="vehicle_condition" value="New" id="flexCheckDefault" {% if FutureVehi.vehicle_condition == 'New' %} checked {% endif %}>
                  <label class="form-check-label" for="flexCheckDefault">
                    New
                  </label>
                </div>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="vehicle_condition" value="Used" id="flexCheckChecked" {% if FutureVehi.vehicle_condition == 'Used' %} checked {% endif %}>
                  <label class="form-check-label" for="flexCheckDefault">
                    Used
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
              <label class="form-label fw-medium mb-1">Make*</label>
              <select class="form-select" name="make">
                <option selected {% if not FutureVehi.make   %} selected {% endif %}>Select</option>
                <option value="Macktrucks" name="make" {% if FutureVehi.make == 'Macktrucks' %} selected {% endif %}>Macktrucks</option>
                <option value="Volvotrucks" name="make" {% if FutureVehi.make == 'Volvotrucks' %} selected {% endif %}>Volvotrucks</option>
                <option value="Toyota" name="make" {% if FutureVehi.make == 'Toyota' %} selected {% endif %}>Toyota</option>
                <option value="Chevrolet" name="make" {% if FutureVehi.make == 'Chevrolet' %} selected {% endif %}>Chevrolet</option>
                <option value="Ford" name="make" {% if FutureVehi.make == 'Ford' %} selected {% endif %}>Ford</option>
                <option value="Honda" name="make" {% if FutureVehi.make == 'Honda' %} selected {% endif %}>Honda</option>
                <option value="Nissan" name="make" {% if FutureVehi.make == 'Nissan' %} selected {% endif %}>Nissan</option>
                <option value="Hyundai" name="make" {% if FutureVehi.make == 'Hyundai' %} selected {% endif %}>Hyundai</option>
                <option value="Volkswagen" name="make" {% if FutureVehi.make == 'Volkswagen' %} selected {% endif %}>Volkswagen</option>
                <option value="Volvo" name="make" {% if FutureVehi.make == 'Volvo' %} selected {% endif %}>Volvo</option>
                <option value="Hyundai" name="make" {% if FutureVehi.make == 'Hyundai' %} selected {% endif %}>Hyundai</option>
                <option value="Mercedes" name="make" {% if FutureVehi.make == 'Mercedes' %} selected {% endif %}>Mercedes</option>
                <option value="BMW" name="make" {% if FutureVehi.make == 'BMW' %} selected {% endif %}>BMW</option>
                <option value="Fiat" name="make" {% if FutureVehi.make == 'Fiat' %} selected {% endif %}>Fiat</option>
                <option value="Acura" name="make" {% if FutureVehi.make == 'Acura' %} selected {% endif %}>Acura</option>
                <option value="Jaguar" name="make" {% if FutureVehi.make == 'Jaguar' %} selected {% endif %}>Jaguar</option>
                <option value="LandRover" name="make" {% if FutureVehi.make == 'LandRover' %} selected {% endif %}>LandRover</option>
                <option value="Mazda" name="make" {% if FutureVehi.make == 'Mazda' %} selected {% endif %}>Mazda</option>
                <option value="Subaru" name="make" {% if FutureVehi.make == 'Subaru' %} selected {% endif %}>Subaru</option>
                <option value="Mini" name="make" {% if FutureVehi.make == 'Mini' %} selected {% endif %}>Mini</option>
                <option value="Mitsubishi" name="make" {% if FutureVehi.make == 'Mitsubishi' %} selected {% endif %}>Mitsubishi</option>
                <option value="Buick" name="make" {% if FutureVehi.make == 'Buick' %} selected {% endif %}>Buick</option>
                <option value="Cadillac" name="make" {% if FutureVehi.make == 'Cadillac' %} selected {% endif %}>Cadillac</option>
                <option value="Lexus" name="make" {% if FutureVehi.make == 'Lexus' %} selected {% endif %}>Lexus</option>
                <option value="Chrysler" name="make" {% if FutureVehi.make == 'Chrysler' %} selected {% endif %}>Chrysler</option>
                <option value="Lincoln" name="make" {% if FutureVehi.make == 'Lincoln' %} selected {% endif %}>Lincoln</option>
                <option value="Audi" name="make" {% if FutureVehi.make == 'Audi' %} selected {% endif %}>Audi</option>
                <option value="Jeep" name="make" {% if FutureVehi.make == 'Jeep' %} selected {% endif %}>Jeep</option>
                <option value="AlfaRomeo" name="make" {% if FutureVehi.make == 'AlfaRomeo' %} selected {% endif %}>AlfaRomeo</option>
                <option value="Dodge" name="make" {% if FutureVehi.make == 'Dodge' %} selected {% endif %}>Dodge</option>
                <option value="Kia" name="make" {% if FutureVehi.make == 'Kia' %} selected {% endif %}>Kia</option>
                <option value="Infiniti" name="make" {% if FutureVehi.make == 'Infiniti' %} selected {% endif %}>Infiniti</option>
                <option value="Genesis" name="make" {% if FutureVehi.make == 'Genesis' %} selected {% endif %}>Genesis</option>
                <option value="Porsche" name="make" {% if FutureVehi.make == 'Porsche' %} selected {% endif %}>Porsche</option>
                <option value="Smart" name="make" {% if FutureVehi.make == 'Smart' %} selected {% endif %}>Smart</option>
                <option value="Tesla" name="make" {% if FutureVehi.make == 'Tesla' %} selected {% endif %}>Tesla</option>
                <option value="International" name="make" {% if FutureVehi.make == 'International' %} selected {% endif %}>International</option>
                <option value="Isuzucv" name="make" {% if FutureVehi.make == 'Isuzucv' %} selected {% endif %}>Isuzucv</option>
                <option value="Demanddetroit" name="make" {% if FutureVehi.make == 'Demanddetroit' %} selected {% endif %}>Demanddetroit</option>
                <option value="Freightliner" name="make" {% if FutureVehi.make == 'Freightliner' %} selected {% endif %}>Freightliner</option>
                <option value="Selectrucks" name="make" {% if FutureVehi.make == 'Selectrucks' %} selected {% endif %}>Selectrucks</option>
                <option value="Thomasbuilt" name="make" {% if FutureVehi.make == 'Thomasbuilt' %} selected {% endif %}>Thomasbuilt</option>
                <option value="Westernstar" name="make" {% if FutureVehi.make == 'Westernstar' %} selected {% endif %}>Westernstar</option>
                <option value="Fordcommercial" name="make" {% if FutureVehi.make == 'Fordcommercial' %} selected {% endif %}>Fordcommercial</option>
                <option value="Paccar" name="make" {% if FutureVehi.make == 'Paccar' %} selected {% endif %}>Paccar</option>
              </select>
              {% if errorMessage.make %}
                  <p class="text-danger make mt-2">Vehicle Make is required</p>
              {% endif %}
            </div>
            <!-- <div class="col-md-6 mb-3">
              <label class="form-label">Make*</label>
            <input type="text" name="make" value="{{ FutureVehi.make|default:'' }}" class="form-control" required>
            {% if errorMessage.make %}
            <p class="text-danger make mt-2">Vehicle Make is required</p>
            {% endif %} 
            </div> -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Model*</label>
            <input type="text" name="model" value="{{ FutureVehi.model|default:'' }}"  class="form-control" required>
            {% if errorMessage.model %}
            <p class="text-danger model mt-2">Vehicle Model is required</p>
            {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Price Range*</label>
              <div class="row g-2">
                <div class="col-md-6 col-6">
                  <select class="form-select" name="price_from" id="price_from">
                    <option selected {% if not price_from   %} selected {% endif %}>From</option>
                    <option value="8,00,000" {% if FutureVehi.price_from == '8,00,000' %} selected {% endif %}>8,00,000</option>
                    <option value="10,00,000" {% if FutureVehi.price_from == '10,00,000' %} selected {% endif %}>10,00,000</option>
                    <option value="15,00,000" {% if FutureVehi.price_from == '15,00,000' %} selected {% endif %}>15,00,000</option>
                    <option value="20,00,000" {% if FutureVehi.price_from == '20,00,000' %} selected {% endif %}>20,00,000</option>
                    <option value="25,00,000" {% if FutureVehi.price_from == '25,00,000' %} selected {% endif %}>25,00,000</option>
                  </select>
                </div>
                <div class="col-md-6 col-6">
                  <select class="form-select" name="price_to" id="price_to">
                    <option selected {% if not price_to   %} selected {% endif %}>To</option>
                    <option value="10,00,000"  {% if FutureVehi.price_to == '10,00,000' %} selected {% endif %}>10,00,000</option>
                    <option value="15,00,000" {% if FutureVehi.price_to == '15,00,000' %} selected {% endif %}>15,00,000</option>
                    <option value="20,00,000"  {% if FutureVehi.price_to == '20,00,000' %} selected {% endif %}>20,00,000</option>
                    <option value="25,00,000" {% if FutureVehi.price_to == '25,00,000' %} selected {% endif %}>25,00,000</option>
                    <option value="30,00,000"  {% if FutureVehi.price_to == '30,00,000' %} selected {% endif %}>30,00,000</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Year of Manufacturing*</label>
              <div class="row g-2">
                <div class="col-md-6 col-6">
                  <select class="form-select" name="manufacture_year_from" id="manufacture_year_from">
                    <option selected {% if not FutureVehi.manufacture_year_from   %} selected {% endif %}>From</option>
                    <option value="2015" {% if FutureVehi.manufacture_year_from == '2015' %} selected {% endif %}>2015</option>
                    <option value="2016" {% if FutureVehi.manufacture_year_from == '2016' %} selected {% endif %}>2016</option>
                    <option value="2017" {% if FutureVehi.manufacture_year_from == '2017' %} selected {% endif %}>2017</option>
                    <option value="2018" {% if FutureVehi.manufacture_year_from == '2018' %} selected {% endif %}>2018</option>
                    <option value="2019" {% if FutureVehi.manufacture_year_from == '2019' %} selected {% endif %}>2019</option>
                    <option value="2020" {% if FutureVehi.manufacture_year_from == '2020' %} selected {% endif %}>2020</option>
                    <option value="2021" {% if FutureVehi.manufacture_year_from == '2021' %} selected {% endif %}>2021</option>
                    <option value="2022" {% if FutureVehi.manufacture_year_from == '2022' %} selected {% endif %}>2022</option>
                    <option value="2023" {% if FutureVehi.manufacture_year_from == '2023' %} selected {% endif %}>2023</option>
                  </select>
                </div>
                <div class="col-md-6 col-6">
                  <select class="form-select" name="manufacture_year_to" id="manufacture_year_to">
                    <option selected {% if not FutureVehi.manufacture_year_to   %} selected {% endif %}>To</option>
                    <option value="2015" {% if FutureVehi.manufacture_year_to == '2015' %} selected {% endif %}>2015</option>
                    <option value="2016" {% if FutureVehi.manufacture_year_to == '2016' %} selected {% endif %}>2016</option>
                    <option value="2017" {% if FutureVehi.manufacture_year_to == '2017' %} selected {% endif %}>2017</option>
                    <option value="2018" {% if FutureVehi.manufacture_year_to == '2018' %} selected {% endif %}>2018</option>
                    <option value="2019" {% if FutureVehi.manufacture_year_to == '2019' %} selected {% endif %}>2019</option>
                    <option value="2020" {% if FutureVehi.manufacture_year_to == '2020' %} selected {% endif %}>2020</option>
                    <option value="2021" {% if FutureVehi.manufacture_year_to == '2021' %} selected {% endif %}>2021</option>
                    <option value="2022" {% if FutureVehi.manufacture_year_to == '2022' %} selected {% endif %}>2022</option>
                    <option value="2023" {% if FutureVehi.manufacture_year_to == '2023' %} selected {% endif %}>2023</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">ZIP*</label>
              <input type="text" name="zip" class="form-control" value="{{ FutureVehi.zip|default:'' }}" maxlength="6" value="" required>
              {% if errorMessage.zip %}
              <p class="text-danger zip mt-2">Vehicle Model Year is required</p>
              {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Distance*</label>
              <input type="text" name="distance" class="form-control" value="{{ FutureVehi.distance|default:'' }}" maxlength="10" value="" required>
              {% if error_message %}
              <p style="color: red; text-align: left; margin-top: 13px;">Invalid Email or Password.</p>
            {% endif %}
            </div>
            <!-- <div class="col-md-6 mb-3">
              <span class="pb-2 d-block">Vehicle IQ<sup>TM</sup> Score</span>
              <select class="form-select" name="iq_score">
                <option selected {% if not iq_score   %} selected {% endif %}>Select</option>
                <option value="One" {% if iq_score == 'One' %} selected {% endif %}>One</option>
                <option value="Two" {% if iq_score == 'Two' %} selected {% endif %}>Two</option>
              </select>
            </div> -->
            <div class="col-md-12 mb-3">
              <label class="form-label">Fuel type*</label>
            <div class="d-flex mb-3 mflex-dircolum">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="fule_type" id="fule_type" value="Gas" {% if FutureVehi.fule_type == 'Gas' %} checked {% endif %}>
                <label class="form-check-label" for="Gas">
                  Gas
                </label>
              </div>
                <div class="form-check ms-0 ms-md-3">
                  <input class="form-check-input" type="radio" name="fule_type" id="ftypeofresidence2" value="Diesel" {% if FutureVehi.fule_type == 'Diesel' %} checked {% endif %}>
                  <label class="form-check-label" for="Diesel">
                    Diesel
                  </label>
                </div>
                <div class="form-check ms-0 ms-md-3">
                  <input class="form-check-input" type="radio" name="fule_type" id="typeofresidence3" value="Electric" {% if FutureVehi.vehicle_type == 'Electric' %} checked {% endif %}>
                  <label class="form-check-label" for="Electric">
                    Electric
                  </label>
                </div>
                <div class="form-check ms-0 ms-md-3">
                  <input class="form-check-input" type="radio" name="fule_type" id="typeofresidence4" value="Hybrid" {% if FutureVehi.fule_type == 'Hybrid' %} checked {% endif %}>
                  <label class="form-check-label" for="Hybrid">
                    Hybrid
                  </label>
                </div>
                <div class="form-check ms-0 ms-md-3">
                  <input class="form-check-input" type="radio" name="fule_type" id="typeofresidence5" value="Plug-In Hybrid" {% if FutureVehi.fule_type == 'Plug-In Hybrid' %} checked {% endif %}>
                  <label class="form-check-label" for="Plug-In Hybrid">
                    Plug-In Hybrid
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="offcanvas-buttons border-0 p-0">
                <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
                <!-- <button type="button" class="btn btn-outline-danger">Cancel</button> -->
                <button type="submit" class="btn btn-primary ms-2">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="loadingModal" style="display: none;">
    <div class="loading">Loading</div>
  </div>
{% endblock %}

{% block script %}
<script>
  $('.add-adddetail-btn').click(function () {
    $('.add-adddetail-form').slideToggle();
    $(this).toggleClass('active');
  })
</script>

<script>
  $(document).ready(function () {
    $('.add-adddetail-btn').click(function () {
      $('.add-adddetail-form').slideToggle();
      $(this).toggleClass('active');
    });
  });

  function openLoader() {
    document.getElementById("loadingModal").style.display = "block";
  }
// --------------------------------------------------------code for year from ----------------------------------
  $(document).ready(function () {
    // Add your year options dynamically
    const yearOptions = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023];
    
    // Populate "From" dropdown
    const manufactureYearFrom = $('#manufacture_year_from');
    yearOptions.forEach(year => {
      manufactureYearFrom.append(`<option value="${year}" ${manufacture_year_from == year ? 'selected' : ''}>${year}</option>`);
    });

    // Populate "To" dropdown based on "From" selection
    manufactureYearFrom.change(function () {
      const selectedFromYear = parseInt($(this).val());
      const manufactureYearTo = $('#manufacture_year_to');
      manufactureYearTo.empty().append('<option selected>To</option>');

      // Add options greater than the selected "From" year
      yearOptions.filter(year => year > selectedFromYear).forEach(year => {
        manufactureYearTo.append(`<option value="${year}">${year}</option>`);
      });
    });

// --------------------------------------------------------code for price range ----------------------------------

    // Add your price range options dynamically
    const priceOptions = ["8,00,000", "10,00,000", "15,00,000", "20,00,000", "25,00,000"];
    
    // Populate "From" dropdown
    const priceFrom = $('#price_from');
    priceOptions.forEach(price => {
      priceFrom.append(`<option value="${price}" ${price_from == price ? 'selected' : ''}>${price}</option>`);
    });

    // Populate "To" dropdown based on "From" selection
    priceFrom.change(function () {
      const selectedFromPrice = $(this).val();
      const priceTo = $('#price_to');
      priceTo.empty().append('<option selected>To</option>');

      // Add options greater than the selected "From" price, avoiding duplicates
      priceOptions.filter(price => parseFloat(price.replace(/,/g, '')) > parseFloat(selectedFromPrice.replace(/,/g, ''))).forEach(price => {
        if (!priceTo.find(`option[value="${price}"]`).length) {
          priceTo.append(`<option value="${price}">${price}</option>`);
        }
      });
    });
  });
</script>
{% endblock %}
