{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="row login-outer g-0 h-100">
    <div class="col-lg-6 login-gradient h-100 d-flex flex-column position-relative">
      <div class="px-3 py-4 p-lg-5 mx-md-4 z-1 position-relative text-center text-lg-start">
        <img src="images/login-logo.svg" alt="">
        <h1 class="heading pt-4 mb-0 d-none d-lg-block text-uppercase"><span class="text-white">Largest</span> and<br>
          most accurate <br>
          <span class="text-white">data repository</span>
        </h1>
      </div>
      <div class="grcar h-100 justify-content-end align-items-end z-1 position-relative d-none d-lg-flex">
        <img src="{% static 'images/logo-car.png'%}" alt="">
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center my-4 my-lg-0">
      <div class="card login-form">
        <div class="card-body py-md-4 px-md-5 mx-md-3">
          <form method="POST">
            {% csrf_token %}
            <h2 class="heading py-2">Enter OTP</h2>
            <div class="form-outline mb-1 position-relative">
              <label class="form-label fw-normal d-block" for="otp">Enter Your OTP</label>
              <input type="text" id="otp" class="form-control rounded-0" placeholder="Enter OTP" name="otp" required autofocus/>
              <a href="#" class="shhi-text position-absolute">
                Show
              </a>
              {% if error_message %}
              <p style="color: red; text-align: left; margin-top: 13px;">Invalid Email or Password.</p>
            {% endif %}
            </div>
            <!-- <div class="form-outline mb-1 position-relative">
                <label for="otp" class="form-label">OTP</label>
                <input type="text" id="otp" name="otp" placeholder="Enter OTP" required autofocus/>
            </div> -->
            <!-- <div class>
                <label for="password2" class="form-label">Password Again</label>
                <input type="text" id="password2" name="password2" placeholder="Enter password again" required autofocus/>
            </div> -->
            <!-- {% if error_message %}
            <p style="color: red; text-align: left; margin-top: 13px;">Invalid OTP.</p>
            {% endif %} -->
            <button type="submit" class="btn btn-primary d-grid w-100">Submit</button>
            <p>Back to login<a href="{% url 'login' %}"> Log In</a></p>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  {% endblock %}