


{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="homepage container pb-5">
    <!-- Vehicle your Garage -->
    <div class="section pt-4" id="vehicles">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="heading mb-0">Vehicle(s) in Your Garage</h1>
        <button type="button" class="btn btn-primary rounded-circle p-0 btn-circle" data-bs-toggle="tooltip"
          data-bs-placement="left" data-bs-title="Add Vehicle in Garage" data-bs-custom-class="custom-tooltip"><i
            class="fa-solid fa-plus"></i></button>
      </div>
      <div class="garage-slide multiple-items mt-4">
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{%static 'images/car.jpg'%}" alt="" class="w-100 fimg">
            <div class="tag position-absolute">Marked for Sell</div>
            <a href="#" class="noti-bell position-absolute bg-white rounded-circle text-center">
              <img src="{%static 'images/bell.svg'%} " alt="" style="width: 16px;">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </a>
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <h3 class="venbr d-block pt-2">
            <span class="d-block pb-1">VIN (Vehicle Identification Number)</span>
            1V2NR2CA2MC500126
          </h3>
          <div class="iqscore mt-3">
            <span class="pb-2 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="text-center mt-2">
              <span class="rangevalue rounded-pill text-white">15750</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-4 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Insurance Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Service Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Purchase Offer</span>
            </a>
          </div>
          <button type="button" class="btn btn-primary w-100 mt-3 mb-2">Edit Your Sell Offer</button>
          <button type="button" class="btn btn-primary-one w-100 text-white">Shop for Insurance</button>
        </div>
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{%static 'images/car.jpg'%}" alt="" class="w-100 fimg">
            <a href="#" class="noti-bell position-absolute bg-white rounded-circle text-center">
              <img src="{%static 'images/bell.svg'%}" alt="" style="width: 16px;">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </a>
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <h3 class="venbr d-block pt-2">
            <span class="d-block pb-1">VIN (Vehicle Identification Number)</span>
            1V2NR2CA2MC500126
          </h3>
          <div class="iqscore mt-3">
            <span class="pb-2 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="text-center mt-2">
              <span class="rangevalue rounded-pill text-white">15750</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-4 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src=" {%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Insurance Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Service Offer</span>
            </a>
          </div>
          <button type="button" class="btn btn-primary w-100 mt-3 mb-2">Wish to Sell</button>
          <button type="button" class="btn btn-primary-one w-100 text-white">Shop for Insurance</button>
        </div>
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{%static 'images/car.jpg'%}" alt="" class="w-100 fimg">
            <div class="tag position-absolute">Marked for Sell</div>
            <a href="#" class="noti-bell position-absolute bg-white rounded-circle text-center">
              <img src="{%static 'images/bell.svg'%}" alt="" style="width: 16px;">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </a>
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <h3 class="venbr d-block pt-2">
            <span class="d-block pb-1">VIN (Vehicle Identification Number)</span>
            1V2NR2CA2MC500126
          </h3>
          <div class="iqscore mt-3">
            <span class="pb-2 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="text-center mt-2">
              <span class="rangevalue rounded-pill text-white">15750</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-4 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Insurance Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Service Offer</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{%static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Purchase Offer</span>
            </a>
          </div>
          <button type="button" class="btn btn-primary w-100 mt-3 mb-2">Edit Your Sell Offer</button>
          <button type="button" class="btn btn-primary-one w-100 text-white">Shop for Insurance</button>
        </div>
      </div>
    </div>
    <!-- your future vehicle -->
    <div class="section pt-5" id="future-vehicle">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="heading mb-0">Your Future Vehicle(S)</h1>
      </div>
      <div class="card add-blank text-center border-0 p-4">
        <div class="card-body">
          <img src="{%static 'images/vehicle.png'%}" alt="" style="width: 200px;">
          <h5 class="heading pt-3">Add Your Future Vehicle(s)</h5>
          <p>You can add any vehicle of your choice that you are planning to<br> buy to your Wishlist, and Vehicle
            Dealers
            associated with<br> MotorDNA will share the price quotation with you.</p>
          <button type="button" class="btn btn-primary rounded-circle p-0 btn-circle"><i
              class="fa-solid fa-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0 text-center text-md-start">
            <a href="#">Terms of Use</a>
            <span class="mx-3">l</span>
            <a href="#">Privacy Policy</a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0">
          <span class="ms-0 ms-md-3">Follow Us</span>
          <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  
  {% endblock %}