{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="homepage container pb-5">
  <!-- Vehicle your Garage -->
  <div class="section pt-4" id="vehicles">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="heading mb-0">Vehicle(s) in Your Garage</h1>
      {% if user.is_authenticated %}
      <a href="{% url 'add-vehicle'%}" class="btn-sttooltip d-flex align-items-center">
        <div class="static-tooltip fw-medium text-white me-3 position-relative d-none d-md-block">
          Add Vehicle in Garage
        </div>
        <span class="btn btn-primary rounded-circle p-0 btn-circle"><i class="fa-solid fa-plus"></i></span>
      </a>
      {% else %}
      Login is required for Add Vehicle
      {% endif %}
    </div>
    {% if addvehicles %}
    <div class="garage-slide multiple-items mt-4">
      {% for vehicles in addvehicles %}
      <div class="vehicalbx bg-white p-3 p-md-4">
        <figure class="position-relative">
          <img src="{% if vehicles.vin_layout %}{{ vehicles.vin_layout }}{% endif %}" alt="" class="w-100 fimg" style=" height: 360px; ">
          {% if vehicles.marked_for_sale %}
          <div class="tag position-absolute">Marked for Sell</div>
          {% endif %}
          <a href="#vehicleOffer" data-bs-toggle="offcanvas" aria-controls="serviceOffer"
            class="noti-bell position-absolute bg-white rounded-circle text-center">
            <img src="{% static 'images/bell.svg' %}" alt="" style="width: 16px; ">
            <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
              4
            </span>
          </a>
        </figure>
        <div class="subheading d-flex justify-content-between align-items-center mb-1">
          <h3 class="heading mb-0">{{ vehicles.model }}</h3>
          <div class="dropdown">
            <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu editdel-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'edit_add_vehicle' vehicles.id %}"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
              <li><a class="dropdown-item confirmation" href="{% url 'delete-vehicle' vehicles.id %}"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
            </ul>
          </div>
        </div>
        <h3 class="venbr d-block pt-2">
          <span class="d-block pb-1">VIN (Vehicle Identification Number)</span>
          {{ vehicles.vin }} 
        </h3>
        <div class="iqscore mt-3">
          <span class="pb-2 d-block">Vehicle IQ<sup>TM</sup> Score</span>
          <input type="range" disabled min="1" max="40000" value="{{ vehicles.cps }}" class="slider rounded-pill">
          <div class="text-center mt-1">
            <span class="rangevalue rounded-pill text-white">{{ vehicles.cps }}</span>
          </div>
        </div>
        <div class="sqbtngrp d-flex justify-content-between text-center mt-4 pt-2">
          <a href="#dealerOffer" class="noti-bell text-center w-100" data-bs-toggle="offcanvas"
            aria-controls="dealerOffer">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Dealer Offer</span>
          </a>
          <a href="#insuranceOffer" class="noti-bell text-center w-100" data-bs-toggle="offcanvas"
            aria-controls="insuranceOffer">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Insurance Offer</span>
          </a>
          <a href="#serviceOffer" class="noti-bell text-center w-100" data-bs-toggle="offcanvas"
            aria-controls="serviceOffer">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Service Offer</span>
          </a>
          <a href="#purchaseOffer1" class="noti-bell text-center w-100 purchase-offer-link" data-bs-toggle="purchaseOffer1"
            aria-controls="purchaseOffer" data-vehicle-id="{{ vehicles.user.id }}" data-vehicle-model="{{ vehicles.model }}"
            data-vehicle-vin="{{ vehicles.vin }}" data-vehicle-cps="{{ vehicles.cps }}" data-vehicle-vin_layout="{{ vehicles.vin_layout }}">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Purchase Offer</span>
          </a>
        </div>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary w-100 mt-3 mb-2 edit-sell-offer-btn"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasWishtosell"
          data-vehicle-id="{{ vehicles.id }}" data-vehicle-model="{{ vehicles.model }}"
          data-vehicle-vin="{{ vehicles.vin }}" data-vehicle-cps="{{ vehicles.cps }}" data-vehicle-vin_layout="{{ vehicles.vin_layout }}">
    Edit Your Sell Offer
  </button>
        <!-- <button type="button" class="btn btn-primary w-100 mt-3 mb-2" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWishtosell " aria-controls="offcanvasWishtosell">Edit Your Sell Offer</button> -->
        <button type="button" class="btn btn-primary w-100 mt-3 mb-2 shop-for-insurance-btn"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasInsurance"
        data-vehicle-id="{{ vehicles.id }}" data-vehicle-model="{{ vehicles.model }}"
        data-vehicle-vin="{{ vehicles.vin }}" data-vehicle-cps="{{ vehicles.cps }}"
        data-vehicle-vin_layout="{{ vehicles.vin_layout }}">
        Shop for Insurance
</button>
{% else %}
        <section class="mx-auto text-center mt-3">
          <article>
            <h6>Login is required for <br> Add Shop For Insurance & Edit Wish To Sell.</h6> 
          </article>
        </section>
          
      {% endif %}

    <!-- <button type="button" class="btn btn-primary-one w-100 text-white" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasInsurance" aria-controls="offcanvasInsurance">Shop for Insurance</button> -->

      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="section pt-4" id="vehicles">
      {% if user.is_authenticated %}
      <section class="lanposter mx-auto text-center">
        <article>
          <h4>Hi {{ user.username }}, Welcome to the<br>
            motorHUB (Your Virtual Garage)</h4>
          <h2>What would you like<br>
            to do First?</h2>
        </article>
      </section>
      <div class="card add-blank text-center border-0 p-4">
        <div class="card-body">
          <img src="{% static 'images/vehicle.png'%}" alt="" style="width: 200px;">
          <h5 class="heading pt-3">Add Your Vehicle(s) to Virtual Garage</h5>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam<br> nonumy eirmod tempor invidunt ut
            labore et dolore magna<br> aliquyam erat, sed diam voluptua. At vero
          </p>
          <a href="{% url 'add-vehicle'%}">
            <span class="btn btn-primary rounded-circle p-0 btn-circle"><i class="fa-solid fa-plus"></i></span>
          </a>
        </div>
        {% else %}
        <section class="lanposter mx-auto text-center">
          <article>
            <h2>Login is required for uploading <br> Add Vehicles.</h2>
          </article>
        </section>
          
      {% endif %}
      </div>
    {% endif %}
  </div>


  <!-- ---------------------------------------------------your future vehicle ----------------------------------------------->
  <div class="section pt-5" id="future-vehicle">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="heading mb-0">Your Future Vehicle(S)</h1>
      {% if user.is_authenticated %}
      <a href="{% url 'add-future-vehicle' %}" class="btn-sttooltip d-flex align-items-center">
        <div class="static-tooltip fw-medium text-white me-3 position-relative d-none d-md-block">
          Add Your Future Vehicle
        </div>
        <span class="btn btn-primary rounded-circle p-0 btn-circle"><i class="fa-solid fa-plus"></i></span>
      </a>
      {% else %}
      Login is required for Add Future Vehicle
      {% endif %}
    </div>
    {% if addFutureVehicles %}
    <div class="garage-slide multiple-items mt-4">
      {% for FutureVehicles in addFutureVehicles %}
      <div class="vehicalbx bg-white p-3 p-md-4">
        <figure class="position-relative">
          <img src="{% static 'images/car1.jpg' %}" alt="" style=" height: 360px; ">
        </figure>
        <div class="subheading d-flex justify-content-between align-items-center mb-1">
          <h3 class="heading mb-0">{{ FutureVehicles.model }}</h3>
          <div class="dropdown">
            <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu editdel-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'edit_future_vehicle' FutureVehicles.id %}"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
              <li><a class="dropdown-item confirmation" href="{% url 'delete-future-vehicle' FutureVehicles.id %}"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
            </ul>
          </div>
        </div>
        <div class="row text-grplabel">
          <div class="col-md-6 pbox">
            <span class="d-block">Vehicle Type</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.vehicle_condition }}</strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Make</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.make }}</strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Model</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.model }}</strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Price Range</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.price_from }}- {{ FutureVehicles.price_to }}</strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Fuel type</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.fule_type }}</strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Year of Manufacturing</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.manufacture_year_from }} - {{FutureVehicles.manufacture_year_to }} </strong>
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">ZIP</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.zip }}</strong>
          </div>
          <div class="col-md-6 mt-3">
            <span class="d-block">Distance</span>
            <strong class="fw-medium d-block">{{ FutureVehicles.distance }}</strong>
          </div>
        </div>
        <div class="sqbtngrp d-flex justify-content-between text-center mt-2 pt-2">
          <a href="#dealersOffer" data-bs-toggle="offcanvas" aria-controls="dealersOffer"
            class="noti-bell text-center w-100">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Dealer Offer(s)</span>
          </a>
          <a href="#privateOffer" data-bs-toggle="offcanvas" aria-controls="privateOffer"
            class="noti-bell text-center w-100">
            <span class="position-relative">
              <img src="{% static 'images/bell.svg' %}" alt="">
              <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                4
              </span>
            </span>
            <span class="chtext d-block pt-1">Private Seller Offer(s)</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="mt-4">
      {% if user.is_authenticated %}
          <!-- <a href="{% url 'add-future-vehicle' %}" class="btn btn-primary">Upload Future Vehicles</a> -->
          <div class="section pt-5" id="future-vehicle">
            <div class="card add-blank text-center border-0 p-4">
              <div class="card-body">
                <section class="lanposter mx-auto text-center">
                  <article>
                    <h4>Hi {{ user.username }}, Welcome to the<br>
                      motorHUB (Your Virtual Garage)</h4>
                    <h2>Please Add Future Vehicle</h2>
                  </article>
                </section>
                <img src="{%static 'images/vehicle.png'%}" alt="" style="width: 200px;">
                <h5 class="heading pt-3">Add Your Future Vehicle(s)</h5>
                <p>You can add any vehicle of your choice that you are planning to<br> buy to your Wishlist, and Vehicle
                  Dealers
                  associated with<br> MotorDNA will share the price quotation with you.</p>
                  <a href="{% url 'add-future-vehicle' %}" >
                    <span class="btn btn-primary rounded-circle p-0 btn-circle"><i class="fa-solid fa-plus"></i></span>
                  </a>
              </div>
            </div>
          </div>
      {% else %}
      <section class="lanposter mx-auto text-center">
        <article>
          <h2>Login is required for uploading <br> Add Future Vehicles.</h2>
        </article>
      </section>
      {% endif %}
  </div>
{% endif %}
</div>
  </div>
</div>
</div>


<!-- ---------------------------------------------------Wish To Sell ----------------------------------------------->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWishtosell" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Wish to Sell</h5>
  <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div class="row wishsell-text pb-4">
    <div class="col-md-5">
      <img class="img-fluid" src="{{ vehicles.vin_layout }}" alt="">
    </div>
    <div class="col-md-7 pt-3 pt-md-0">
      <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
      <div class="venbr d-block pt-2 pt-md-3">
        <span class="d-block">VIN (Vehicle Identification Number)</span>
        <strong class="fw-medium">{{ addvehi.vin }}</strong>
      </div>
      <div class="venbr d-block pt-2">
        <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
        <strong>{{ addvehi.cps }}</strong>
      </div>
    </div>
  </div>
  <div class="wishsell-form">
      <!-- <form class="mt-4" method="post" action="{% url 'wish-to-sell' %}" enctype="multipart/form-data"> -->
    <form class="mt-4" method="post" action="{% url 'wish-to-sell' %}" enctype="multipart/form-data" onsubmit="showWishToSellSuccess();">
        {% csrf_token %}
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </article>
      </section>
      <div class="row mt-3">
        <div class="col-md-6">
          <label class="form-label fw-medium mb-1">Your Asking Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" name="asking_price" required value="{{ asking_price }}" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label fw-medium mb-1">Mileage of the Vehicle</label>
          <div class="input-group mb-3">
            <input type="text" name="mileage_vehicle" required value="{{ mileage_vehicle }}" class="form-control">
            <span class="input-group-text" id="basic-addon1">Miles</span>
          </div>
        </div>
      </div>
      <div class="offcanvas-buttons text-end">
        <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
        <button type="submit" class="btn btn-primary ms-2">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>


<!-- --------------------------------------------------- Wish To Sell Success ----------------------------------------------->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWishtosellSuccess" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Wish to Sell</h5>
  <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div class="row wishsell-text pb-4">
    <div class="col-md-5">
      <img class="img-fluid" src="{{ vehicles.vin_layout }}" alt="">
    </div>
    <div class="col-md-7 pt-3 pt-md-0">
      <h3 class="heading mb-0">{{ vehicle.model }}</h3>
      <div class="venbr d-block pt-3">
        <span class="d-block">VIN (Vehicle Identification Number)</span>
        <strong class="fw-medium">{{ vehicle.vin }}</strong>
      </div>
      <div class="venbr d-block pt-2">
        <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
        <strong>{{ vehicle.cps }}</strong>
      </div>
    </div>
  </div>
  <div class="wishsell-form wishsell-success text-center pt-4">
    <i class="fa-sharp fa-solid fa-circle-check text-success mb-1"></i>
    <h3 class="heading mt-2">Your request submitted successfully</h3>
    <p>We will let you know if we find an interested buyer</p>
    <a href="{% url 'home' %}" class="btn btn-outline-danger">OK</a>
    <!-- <button type="button" class="btn btn-primary ms-2">OK</button> -->
  </div>
</div>
</div>

<!------------------------------------------------------------------------ Shop For Insurance ---------------------------------------->
<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasInsurance" aria-labelledby="offcanvasExampleLabel"> -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasInsurance" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Shop for Insurance</h5>
    <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body shopins-form">
    <div class="row wishsell-text pb-4">
      <div class="col-md-5">
        <img class="img-fluid" src="{{ vehicles.vin_layout }}" alt="">
      </div>
      <div class="col-md-7 pt-3 pt-md-0">
        <h3 class="heading mb-0">{{ vehicle.model }}</h3>
        <div class="venbr d-block pt-3">
          <span class="d-block">VIN (Vehicle Identification Number)</span>
          <strong class="fw-medium">{{ vehicle.vin }}</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
          <strong>{{ vehicle.cps }}</strong>
        </div>
      </div>
    </div>
    <div class="wishsell-form">
      <form class="mt-4" method="post" action="{% url 'shop_Insurance' %}" enctype="multipart/form-data" onsubmit="ShopForinsuranceSuccess();">
        {% csrf_token %}
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore.</p>
        </article>
      </section>
      <div class="row mt-3">
        <div class="col-md-6">
          <label class="form-label fw-medium mb-1">Currently How Much you are Paying</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" name="How_Much_you_Paying" required value="{{ vehicle.shopinsurance.How_Much_you_Paying }}" class="form-control">
            <!-- <input type="text" name="How_Much_you_Paying" class="form-control"> -->
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label fw-medium mb-1">How Much you want to Pay</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" name="How_Much_want_Pay" required value="{{ vehicle.shopinsurance.How_Much_want_Pay }}" class="form-control">
            <!-- <input type="text" name="How_Much_want_Pay" class="form-control"> -->
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label class="form-label fw-medium mb-1">Current Insurer</label>
          <select class="form-select" name="Current_Insurer">
            <option selected {% if not vehicle.shopinsurance.Current_Insurer %} selected {% endif %}>Select</option>
            <option value="Insurer 1" {% if vehicle.shopinsurance.Current_Insurer == 'Insurer 1' %} selected {% endif %}>Insurer 1</option>
            <option value="Insurer 2" {% if vehicle.shopinsurance.Current_Insurer == 'Insurer 2' %} selected {% endif %}>Insurer 2</option>
          </select>
        </div>
        <div class="col-md-12 mb-3 mt-1">
          <div class="form-check d-flex">
            <input class="form-check-input me-2" type="checkbox" name="all_Vehicles_listed" id="shopForAllVehicles">
            <label class="form-check-label fw-medium" for="shopForAllVehicles">
                Shop for all Vehicles listed in your Virtual Garage
            </label>
        </div>
        
      </div>
        <h4 class="heading verify-heading mb-3">Please verify the following information before <br>
          submitting the request.</h4>
        <div class="col-md-12 mb-3">
          <label class="form-label fw-medium mb-2">Is your Vehicle Owned, Financed or Leased</label>
          <div class="d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="vehicle_type" id="typeofresidence1" value="Owned" {% if vehicle.shopinsurance.vehicle_type == 'Owned' %} checked {% endif %}>
              <label class="form-check-label" name="vehicle_type" for="Owned">
                Owned
              </label>
            </div>
            <div class="form-check ms-3">
              <input class="form-check-input" type="radio" name="vehicle_type" id="ftypeofresidence2" value="Financed" {% if vehicle.shopinsurance.vehicle_type == 'Financed' %} checked {% endif %}>
              <label class="form-check-label" name="vehicle_type" for="Financed">
                Financed
              </label>
            </div>
            <div class="form-check ms-3">
              <input class="form-check-input" type="radio" name="vehicle_type" id="typeofresidence3" value="Leased" {% if vehicle.shopinsurance.vehicle_type == 'Leased' %} checked {% endif %}>
              <label class="form-check-label" name="vehicle_type" for="Leased">
                Leased
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label class="form-label fw-medium mb-2">Primary Use of the Vehicle</label>
          <div class="d-flex mflex-dircolum">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="primery_use" value="Commute (to work or school)" {% if primery_use == 'Commute (to work or school)' %} checked {% endif %} id="flexRadioDefault4">
              <label class="form-check-label"name="primery_use" for="flexRadioDefault4">
                Commute (to work or school)
              </label>
            </div>
            <div class="form-check md-0 ms-md-2">
              <input class="form-check-input" id="flexRadioDefault5" type="radio" name="primery_use" value="Pleasure" {% if primery_use == 'Pleasure' %} checked {% endif %}>
              <label class="form-check-label" name="primery_use for="flexRadioDefault5">
                Pleasure
              </label>
            </div>
            <div class="form-check md-0 ms-md-2">
              <input class="form-check-input" id="flexRadioDefault6" type="radio" name="primery_use" value="Business (sales, calls , etc.)" {% if primery_use == 'Business (sales, calls , etc.)' %} checked {% endif %}>
              <label class="form-check-label" name="primery_use for="flexRadioDefault6">
                Business (sales, calls , etc.)
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Commute</label>
          <div class="input-group" name="Commute">
            <input type="text" class="form-control" placeholder="Days per week" name="Commute">
            <select class="form-select" name="Commute_choice" style="max-width: 120px;">
              <option selected {% if not Commute_choice   %} selected {% endif %}>Select</option>
              <option value="One" name="Commute_choice" {% if Commute_choice == 'One' %} selected {% endif %}>One</option>
              <option value="Two" name="Commute_choice" {% if Commute_choice == 'Two' %} selected {% endif %}>Two</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Miles is your commute one-way?</label>
          <div class="input-group">
            <input type="text" class="form-control" name="commute_one_way">
            <span class="input-group-text" id="basic-addon1">Miles</span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Annual Mileage of your Vehicle</label>
          <select class="form-select" name="mileage">
            <option selected {% if not mileage   %} selected {% endif %}>Select</option>
            <option value="One" name="mileage" {% if mileage == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="mileage" {% if mileage == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Parking Location</label>
          <select class="form-select" name="parking_location">
            <option selected {% if not parking_location   %} selected {% endif %}>Select</option>
            <option value="One" name="parking_location" {% if parking_location == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="parking_location" {% if parking_location == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1"># of additional Drivers In The Household</label>
          <select class="form-select" name="drivers_in_the_household">
            <option selected {% if not drivers_in_the_household   %} selected {% endif %}>Select</option>
            <option value="One" name="drivers_in_the_household" {% if drivers_in_the_household == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="drivers_in_the_household" {% if drivers_in_the_household == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1"># of Drivers Under The Age Of 25</label>
          <select class="form-select" name="drivers_under_25">
            <option selected {% if not drivers_under_25   %} selected {% endif %}>Select</option>
            <option value="One" name="drivers_under_25" {% if drivers_under_25 == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="drivers_under_25" {% if drivers_under_25 == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Auto Accidents In Past 3 Years</label>
          <select class="form-select" name="accidents_past_3_years">
            <option selected {% if not accidents_past_3_years   %} selected {% endif %}>Select</option>
            <option value="One" name="accidents_past_3_years" {% if accidents_past_3_years == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="accidents_past_3_years" {% if accidents_past_3_years == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-medium mb-1">Auto Claims In Past 3 Years</label>
          <select class="form-select" name="claims_past_3_years">
            <option selected {% if not claims_past_3_years   %} selected {% endif %}>Select</option>
            <option value="One" name="claims_past_3_years" {% if claims_past_3_years == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="claims_past_3_years" {% if claims_past_3_years == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label fw-medium mb-1">Speeding Tickets In Past 3 Years</label>
          <select class="form-select" name="speed_tickets_past_3_years">
            <option selected {% if not speed_tickets_past_3_years   %} selected {% endif %}>Select</option>
            <option value="One" name="speed_tickets_past_3_years" {% if speed_tickets_past_3_years == 'One' %} selected {% endif %}>One</option>
            <option value="Two" name="speed_tickets_past_3_years" {% if speed_tickets_past_3_years == 'Two' %} selected {% endif %}>Two</option>
          </select>
        </div>
      </div>
      <div class="offcanvas-buttons text-end mt-3">
        <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
        <button type="submit" class="btn btn-primary ms-2">Submit</button>
    </div>
    </form>
    </div>
  </div>
</div>


<!-------------------------------------------------------------- Shop For Insurance Success ----------------------------------------------------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasInsuranceSuccess"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Shop for Insurance</h5>
    <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row wishsell-text pb-4">
      <div class="col-md-5">
        <img class="img-fluid" src="{{ vehicles.vin_layout }}" alt="">
      </div>
      <div class="col-md-7 pt-3 pt-md-0">
        <h3 class="heading mb-0">{{ vehicle.model }}</h3>
        <div class="venbr d-block pt-3">
          <span class="d-block">VIN (Vehicle Identification Number)</span>
          <strong class="fw-medium">{{ vehicle.vin }}</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
          <strong>{{ vehicle.cps }}</strong>
        </div>
      </div>
    </div>
    <div class="wishsell-form wishsell-success text-center pt-4">
      <i class="fa-sharp fa-solid fa-circle-check text-success mb-1"></i>
      <h3 class="heading mt-2">Your request submitted successfully</h3>
      <p>We will let you know if we find an interested buyer</p>
      <button type="button" class="btn btn-primary ms-2">OK</button>
    </div>
  </div>
</div>


<!-- --------------------------------------------------- Delear Offer ----------------------------------------------->

<div class="offcanvas offcanvas-start offcanvas-details shopins-form" data-bs-backdrop="static" tabindex="-1"
  id="dealerOffer">
  <div class="d-block d-lg-flex">
    <section class="w-100 offcanvas-left bg-white">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Dealer Offers</h5>
        <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"
          style="position: initial;"></button>
      </div>
      <div class="offcanvas-body py-0">
        <div class="d-flex offcanvas-outer">
          <div class="nav flex-column nav-pills w-100 w-md-50" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <div class="active offerside-tab card mb-4 position-relative" id="v-pills-one-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">
            <div class="card-body">
                <span class="tag text-uppercase bg-danger fw-medium">CASH OFFER</span>
                <h4 class="fw-bold mt-2 mb-1">2023 Kia Military Specialty Incentive Program</h4>
                <p class="mb-1 pb-1">Up to $300 Customer Cash</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>
            
            <div class="offerside-tab card mb-4 position-relative" id="v-pills-two-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="true">
              <div class="arrowtag position-absolute">
                Preferred
              </div>
              <div class="card-body">
                <span class="tag text-uppercase bg-warning fw-medium">FINANCE</span>
                <h4 class="fw-bold mt-2 mb-1">2023 Kia Sportage Special Financing</h4>
                <p class="mb-1 pb-1">4.75% APR for 48 Months</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card position-relative" id="v-pills-three-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="true">
              <div class="card-body">
                <span class="tag text-uppercase bg-warning fw-medium">LEASE</span>
                <h4 class="fw-bold mt-2 mb-1">2023 Kia Sportage Lease</h4>
                <p class="mb-1 pb-1">$360 per month for 36 Month</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>


          </div>

        </div>
      </div>
    </section>
    <div class="tab-content w-100 w-md-50 m-tabdetail offcanvas-right scrollbar-body" id="v-pills-tabContent">
      <i class="fa-solid fa-circle-arrow-left m-detail-back d-block d-md-none"></i>
      <div class="text-end d-none d-md-block">
        <i class="fa-solid fa-xmark m-detail-close"></i>
      </div>
      <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab"
        tabindex="0">
        <h2 class="fw-bold">2023 Kia Military Specialty <br>
          Incentive Program</h2>
        <p class="fw-medium">Up to $300 Customer Cash</p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-3 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/kia.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab" tabindex="0">
        <h2 class="fw-bold">2023 Kia Sportage Special Financing</h2>
        <p class="fw-medium">Up to $300 Customer Cash</p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-3 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/kia.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
        </div>
      <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab" tabindex="0">
        <h2 class="fw-bold">2023 Kia Sportage Lease</h2>
        <p class="fw-medium">Up to $300 Customer Cash</p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-3 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/kia.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
        </div>
    </div>
  </div>
</div>


<!---------------------------------------------------------- Insurance Offer --------------------------------------------------->
<div class="offcanvas offcanvas-start offcanvas-details shopins-form" tabindex="-1" id="insuranceOffer"
  data-bs-backdrop="static">

  <div class="d-block d-lg-flex">
    <section class="w-100 offcanvas-left bg-white">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Insurance Offers</h5>
        <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"
          style="position: initial;"></button>
      </div>
      <div class="offcanvas-body py-0">
        <div class="d-flex offcanvas-outer">
          <div class="nav flex-column nav-pills w-100 w-md-50" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <div class="active offerside-tab card mb-4 position-relative" id="v-pills-insone-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-insone" role="tab" aria-controls="v-pills-insone" aria-selected="true">
              <div class="arrowtag position-absolute">
                Preferred
              </div>
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
                <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best
                  four-wheeler
                  insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless
                  Assurance,
                  24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
                <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-instwo-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-instwo" role="tab" aria-controls="v-pills-instwo" aria-selected="true">
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
                <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best
                  four-wheeler
                  insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless
                  Assurance,
                  24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
                <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-insthree-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-insthree" role="tab" aria-controls="v-pills-insthree" aria-selected="true">
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
                <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best
                  four-wheeler
                  insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless
                  Assurance,
                  24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
                <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>


          </div>

        </div>
      </div>
    </section>
    <div class="tab-content w-100 w-md-50 m-tabdetail offcanvas-right scrollbar-body" id="v-pills-tabContent">
      <i class="fa-solid fa-circle-arrow-left m-detail-back d-block d-md-none"></i>
      <div class="text-end d-none d-md-block">
        <i class="fa-solid fa-xmark m-detail-close"></i>
      </div>
      <div class="tab-pane fade show active" id="v-pills-insone" role="tabpanel" aria-labelledby="v-pills-insone-tab"
        tabindex="0">
        <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
        <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
          & get
          coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
          Assistance, Free Pickup & Drop, Self-Video Claims.</p>
        <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
        <p class="pt-1 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/insurance.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-instwo" role="tabpanel" aria-labelledby="v-pills-instwo-tab" tabindex="0">
        <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
        <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
          & get
          coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
          Assistance, Free Pickup & Drop, Self-Video Claims.</p>
        <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
        <p class="pt-1 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/insurance.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-insthree" role="tabpanel" aria-labelledby="v-pills-insthree-tab"
        tabindex="0">
        <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
        <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
          & get
          coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
          Assistance, Free Pickup & Drop, Self-Video Claims.</p>
        <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
        <p class="pt-1 mb-2">Exp. 09/09/23</p>
        <img src="{% static 'images/insurance.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
    </div>
  </div>



</div>

<!--------------------------------------------------------------- Service Offer ------------------------------------------------>
<div class="offcanvas offcanvas-start offcanvas-details shopins-form" data-bs-backdrop="static" tabindex="-1"
  id="serviceOffer">

  <div class="d-block d-lg-flex">
    <section class="w-100 offcanvas-left bg-white">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Service/ Maintenance Offer</h5>
        <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"
          style="position: initial;"></button>
      </div>
      <div class="offcanvas-body py-0">
        <div class="d-flex offcanvas-outer">
          <div class="nav flex-column nav-pills w-100 w-md-50" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <div class="active offerside-tab card mb-4 position-relative" id="v-pills-serviceone-tab"
              data-bs-toggle="pill" data-bs-target="#v-pills-serviceone" role="tab" aria-controls="v-pills-serviceone"
              aria-selected="true">
              <div class="arrowtag position-absolute">
                Preferred
              </div>
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                  firestone credit card</h4>
                <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular
                  pre-tax
                  price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                  with your CFNA credit card.</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-servicetwo-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-servicetwo" role="tab" aria-controls="v-pills-servicetwo" aria-selected="true">
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                  firestone credit card</h4>
                <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular
                  pre-tax
                  price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                  with your CFNA credit card.</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-servicethree-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-servicethree" role="tab" aria-controls="v-pills-servicethree"
              aria-selected="true">
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                  firestone credit card</h4>
                <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular
                  pre-tax
                  price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                  with your CFNA credit card.</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <div class="tab-content w-100 w-md-50 m-tabdetail offcanvas-right scrollbar-body" id="v-pills-tabContent">
      <i class="fa-solid fa-circle-arrow-left m-detail-back d-block d-md-none"></i>
      <div class="text-end d-none d-md-block">
        <i class="fa-solid fa-xmark m-detail-close"></i>
      </div>
      <div class="tab-pane fade show active" id="v-pills-serviceone" role="tabpanel"
        aria-labelledby="v-pills-serviceone-tab" tabindex="0">
        <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
          firestone credit card </h2>
        <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
          Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
          CFNA credit card. </p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-2 mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/service.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-servicetwo" role="tabpanel" aria-labelledby="v-pills-servicetwo-tab"
        tabindex="0">
        <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
          firestone credit card </h2>
        <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
          Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
          CFNA credit card. </p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-2 mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/service.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-servicethree" role="tabpanel" aria-labelledby="v-pills-servicethree-tab"
        tabindex="0">
        <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
          firestone credit card </h2>
        <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
          Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
          CFNA credit card. </p>
        <div class="offfrom py-2 px-3 mt-2 bg-white">
          <span class="d-block">Offer From</span>
          <strong>Auto Mode USA</strong>
          <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
            Monee, IL 60449, United States
          </p>
        </div>
        <p class="pt-2 mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/service.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------------ Vehicle Offer -------------------------------------------------->
<div class="offcanvas offcanvas-start offcanvas-details shopins-form" data-bs-backdrop="static" tabindex="-1"
  id="vehicleOffer">

  <div class="d-block d-lg-flex">
    <section class="w-100 offcanvas-left bg-white">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Vehicle Level Offer</h5>
        <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close"
          style="position: initial;"></button>
      </div>
      <div class="offcanvas-body py-0">
        <div class="d-flex offcanvas-outer">
          <div class="nav flex-column nav-pills w-100 w-md-50" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <div class="active offerside-tab card mb-4 position-relative" id="v-pills-vehicleone-tab"
              data-bs-toggle="pill" data-bs-target="#v-pills-vehicleone" role="tab" aria-controls="v-pills-vehicleone"
              aria-selected="true">
              <div class="card-header fw-bold">
                Dealer Offer
              </div>
              <div class="card-body">
                <span class="tag text-uppercase bg-danger fw-medium">CASH OFFER</span>
                <h4 class="fw-bold mt-2 mb-1">2023 Kia Military Specialty Incentive Program</h4>
                <p class="mb-1 pb-1">Up to $300 Customer Cash</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-vehicletwo-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-vehicletwo" role="tab" aria-controls="v-pills-vehicletwo" aria-selected="true">
              <div class="card-header fw-bold">
                Service Offer
              </div>
              <div class="card-body position-relative">
                <div class="arrowtag position-absolute">
                  Preferred
                </div>
                <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your <br>
                  firestone credit card </h4>
                <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular
                  pre-tax
                  price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                  with your CFNA credit card.</p>
                <div class="offfrom py-2 px-3 mt-2 bg-white">
                  <span class="d-block">Offer From</span>
                  <strong>Auto Mode USA</strong>
                  <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan
                    Rd,
                    Monee, IL 60449, United States
                  </p>
                </div>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

            <div class="offerside-tab card mb-4 position-relative" id="v-pills-vehiclethree-tab" data-bs-toggle="pill"
              data-bs-target="#v-pills-vehiclethree" role="tab" aria-controls="v-pills-vehiclethree"
              aria-selected="true">
              <div class="card-header fw-bold">
                Insurance Offers
              </div>
              <div class="card-body">
                <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
                <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best
                  four-wheeler
                  insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless
                  Assurance,
                  24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
                <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
              </div>
              <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
                Exp. 09/09/23 <a href="#">View Details</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
    <div class="tab-content w-100 w-md-50 m-tabdetail offcanvas-right scrollbar-body" id="v-pills-tabContent">
      <i class="fa-solid fa-circle-arrow-left m-detail-back d-block d-md-none"></i>
      <div class="text-end d-none d-md-block">
        <i class="fa-solid fa-xmark m-detail-close"></i>
      </div>
      <div class="tab-pane fade show active" id="v-pills-vehicleone" role="tabpanel"
        aria-labelledby="v-pills-vehicleone-tab" tabindex="0">
        <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
        <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
        <p class="mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/vehicle.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-vehicletwo" role="tabpanel" aria-labelledby="v-pills-vehicletwo-tab"
        tabindex="0">
        <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
        <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
        <p class="mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/vehicle.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-vehiclethree" role="tabpanel" aria-labelledby="v-pills-vehiclethree-tab"
        tabindex="0">
        <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
        <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
        <p class="mb-3">Exp. 09/09/23</p>
        <img src="{% static 'images/vehicle.jpg' %}" class="img-fluid rounded" alt="">
        <ul class="px-0 mt-3">
          <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
          <li class="pt-1">Includes all trims</li>
          <li class="pt-1">May not be available on all styles</li>
        </ul>
        <h6 class="fw-bold">Deal Terms & Conditions</h6>
        <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
          retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
          the spouse of those individuals is also eligible for this program. The eligible customer must be able to
          provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
          certificate, a bank statement indicating a pension or disability earnings from the United States Armed
          Forces or an official document indicating future pension eligibility. This includes those that have
          "national" status from another country and are serving in the United States military.</p>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------- Purchase Offer ---------------------------------------------------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="purchaseOffer1" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Purchase Offer</h5>
    <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row wishsell-text pb-4">
      <div class="col-md-5">
        <img class="img-fluid" src="{{ vehicles.vin_layout }}" alt="">
      </div>
      <div class="col-md-7 pt-3 pt-md-0">
        <h3 class="heading mb-0">{{ vehicle.model }}</h3>
        <div class="venbr d-block pt-3">
          <span class="d-block">VIN (Vehicle Identification Number)</span>
          <strong class="fw-medium">{{ vehicle.vin }}</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
          <strong>{{ vehicle.cps }}</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Your Asking Price</span>
          <strong>$20,000</strong>
        </div>
      </div>
    </div>
    <div class="wishsell-form">
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore.</p>
        </article>
      </section>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$19,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h5 class="card-title fw-medium">{{ user.username }}</h5>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                {{ user.admin }}</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$20,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h6 class="card-title fw-medium">{{ user.username }}</h6>
              <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                2401 S 11th St, Niles, MI 49120, United States</p>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                {{ user.email }}</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------- Dealers Offers ------------------------------------------------------>
<div class="offcanvas offcanvas-end" tabindex="-1" id="dealersOffer" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Dealers Offer(s)</h5>
    <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row wishsell-text pb-4">
      <div class="col-md-5">
        <img class="img-fluid" src="{% static 'images/sell-car.jpg' %}" alt="">
      </div>
      <div class="col-md-7 pt-3 pt-md-0">
        <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
        <div class="venbr d-block pt-2">
          <span class="d-block">Make</span>
          <strong class="fw-medium">Mercedes-Benz</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Model</span>
          <strong>AMG GLB 35 4MATIC</strong>
        </div>
      </div>
    </div>
    <div class="wishsell-form">
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore.</p>
        </article>
      </section>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$19,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h6 class="card-title fw-medium">Auto Mode USA</h6>
              <p class="card-text mb-1 d-flex"><i
                  class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                5604 W Monee Manhattan Rd, Monee, IL 60449, United States</p>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                derrickpowell@gmail.com</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$20,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h6 class="card-title fw-medium">USA-1 Auto Sales of Niles</h6>
              <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                2401 S 11th St, Niles, MI 49120, United States</p>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                derrickpowell@gmail.com</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------------------------------- Private Offers --------------------------------------------------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="privateOffer" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Private Seller Offer</h5>
    <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row wishsell-text pb-4">
      <div class="col-md-5">
        <img class="img-fluid" src="{% static 'images/sell-car.jpg' %}" alt="">
      </div>
      <div class="col-md-7 pt-3 pt-md-0">
        <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
        <div class="venbr d-block pt-2">
          <span class="d-block">Make</span>
          <strong class="fw-medium">Mercedes-Benz</strong>
        </div>
        <div class="venbr d-block pt-2">
          <span class="d-block">Model</span>
          <strong>AMG GLB 35 4MATIC</strong>
        </div>
      </div>
    </div>
    <div class="wishsell-form">
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore.</p>
        </article>
      </section>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$19,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h6 class="card-title fw-medium">Auto Mode USA</h6>
              <p class="card-text mb-1 d-flex"><i
                  class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                5604 W Monee Manhattan Rd, Monee, IL 60449, United States</p>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                derrickpowell@gmail.com</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <section
              class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
              <article>
                <span>Offered Price</span>
                <h2 class="fw-bold">$20,000</h2>
              </article>
            </section>
          </div>
          <div class="col-md-8 offby-text">
            <div class="card-body py-4">
              <span>Offered By</span>
              <h6 class="card-title fw-medium">USA-1 Auto Sales of Niles</h6>
              <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                2401 S 11th St, Niles, MI 49120, United States</p>
              <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                2589637415</p>
              <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                derrickpowell@gmail.com</p>
              <h6 class="mb-1">Message</h6>
              <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut
                labore.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<!-- use this code for call the wish to success massage page   -->

<script>
  function showWishToSellSuccess() {
    var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasWishtosellSuccess'));
    offcanvas.show();
  }

  // show the vehicle details on edit wish to sell and shop to insurance button

  $(document).ready(function() {
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
    
    $('.edit-sell-offer-btn').click(function() {
      var vehicleId = $(this).data('vehicle-id');
      var vehicleimage = $(this).data('vehicle-vin_layout');
      var vehiclewindow_sticker = $(this).data('vin_layout');
      var vehicleModel = $(this).data('vehicle-model');
      var vehicleVin = $(this).data('vehicle-vin');
      var vehicleCps = $(this).data('vehicle-cps');

      $('#offcanvasWishtosell').find('.heading').text('Wish to Sell - ' + vehicleModel);
      $('#offcanvasWishtosell').find('.img-fluid').attr('src', vehicleimage);
      $('#offcanvasWishtosell').find('.venbr strong').eq(0).text(vehicleVin);
      $('#offcanvasWishtosell').find('.venbr strong').eq(1).text(vehicleCps);

      $('#offcanvasWishtosell').offcanvas('show');
    });

    $('.shop-for-insurance-btn').click(function() {
      var vehicleId = $(this).data('vehicle-id');
      var vehicleimage = $(this).data('vehicle-vin_layout');
      var vehicleModel = $(this).data('vehicle-model');
      var vehicleVin = $(this).data('vehicle-vin');
      var vehicleCps = $(this).data('vehicle-cps');

      $('#offcanvasInsurance').find('.heading').text('Shop for Insurance - ' + vehicleModel);
      $('#offcanvasInsurance').find('.img-fluid').attr('src', vehicleimage);
      $('#offcanvasInsurance').find('.venbr strong').eq(0).text(vehicleVin);
      $('#offcanvasInsurance').find('.venbr strong').eq(1).text(vehicleCps);

      $('#offcanvasInsurance').offcanvas('show');
    });
  });

  // use this code for call the shop for insurance success massage page  

  function ShopForinsuranceSuccess() {
    var offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasInsuranceSuccess'));
    offcanvas.show();
  }

  $(document).ready(function() {
    $('.edit-sell-offer-btn').click(function() {
      var vehicleId = $(this).data('vehicle-id');
      var vehicleimage = $(this).data('vehicle-vin_layout');
      var vehicleModel = $(this).data('vehicle-model');
      var vehicleVin = $(this).data('vehicle-vin');
      var vehicleCps = $(this).data('vehicle-cps');

      $('#offcanvasWishtosellSuccess').find('.heading').text('Wish to Sell - ' + vehicleModel);
      $('#offcanvasWishtosellSuccess').find('.img-fluid').attr('src', vehicleimage);
      $('#offcanvasWishtosellSuccess').find('.venbr strong').eq(0).text(vehicleVin);
      $('#offcanvasWishtosellSuccess').find('.venbr strong').eq(1).text(vehicleCps);

      $('#offcanvasWishtosell').offcanvas('show');
    });

    $('.shop-for-insurance-btn').click(function() {
      var vehicleId = $(this).data('vehicle-id');
      var vehicleimage = $(this).data('vehicle-vin_layout');
      var vehicleModel = $(this).data('vehicle-model');
      var vehicleVin = $(this).data('vehicle-vin');
      var vehicleCps = $(this).data('vehicle-cps');

      $('#offcanvasInsuranceSuccess').find('.heading').text('Shop for Insurance - ' + vehicleModel);
      $('#offcanvasInsuranceSuccess').find('.img-fluid').attr('src', vehicleimage);
      $('#offcanvasInsuranceSuccess').find('.venbr strong').eq(0).text(vehicleVin);
      $('#offcanvasInsuranceSuccess').find('.venbr strong').eq(1).text(vehicleCps);

      $('#offcanvasInsurance').offcanvas('show');
    });
  });

  // show the vehicle details on edit wish to sell and shop to insurance button

  $(document).ready(function () {
  // Purchase Offer button click event
  $('.purchase-offer-link').click(function () {
    // Assuming the data attributes are set on the button
    var vehicleId = $(this).data('vehicle-id');
    var vehicleImage = $(this).data('vehicle-vin_layout');
    var vehicleModel = $(this).data('vehicle-model');
    var vehicleVin = $(this).data('vehicle-vin');
    var vehicleCps = $(this).data('vehicle-cps');

    // Populate the Purchase Offer off-canvas with vehicle details
    $('#purchaseOffer1 .heading').text('Purchase Offer - ' + vehicleModel);
    $('#purchaseOffer1 .img-fluid').attr('src', vehicleImage);
    $('#purchaseOffer1 .venbr strong').eq(0).text(vehicleVin);
    $('#purchaseOffer1 .venbr strong').eq(1).text(vehicleCps);

    // Show the Purchase Offer off-canvas
    $('#purchaseOffer1').offcanvas('show');
  });

  });

</script>




{% endblock %}