
{% extends 'common/base.html' %}
{% load static %}
{% block content %}


  <div class="homepage container pb-5">
    <!-- Vehicle your Garage -->
    <div class="section pt-4" id="vehicles">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="heading mb-3">Vehicle(s) in Your Garage</h1>
      </div>
      <div class="card add-blank text-center border-0 p-4">
        <div class="card-body">
          <img src="{% static 'images/vehicle.png'%}" alt="" style="width: 200px;">
          <h5 class="heading pt-3">Add Your Vehicle(s) to Virtual Garage</h5>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam<br> nonumy eirmod tempor invidunt ut
            labore et dolore magna<br> aliquyam erat, sed diam voluptua. At vero
          </p>
          <button type="button" class="btn btn-primary rounded-circle p-0 btn-circle"><i
              class="fa-solid fa-plus"></i></button>
        </div>
      </div>
    </div>

    <!-- your future vehicle -->
    <div class="section pt-5" id="future-vehicle">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="heading mb-0">Your Future Vehicle(S)</h1>
        <button type="button" class="btn btn-primary rounded-circle p-0 btn-circle" data-bs-toggle="tooltip"
          data-bs-placement="left" data-bs-title="Add Vehicle to your wish list"
          data-bs-custom-class="custom-tooltip yfvcustom-tooptip"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="garage-slide multiple-items mt-4">
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{% static 'images/car1.jpg'%}" alt="" class="w-100 fimg">
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="row text-grplabel">
            <div class="col-md-6 pbox">
              <span class="d-block">Vehicle Type</span>
              <strong class="fw-medium d-block">New</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Make</span>
              <strong class="fw-medium d-block">Mercedes-Benz</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Model</span>
              <strong class="fw-medium d-block">AMG GLB 35 4MATIC</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Price Range</span>
              <strong class="fw-medium d-block">$30,000 - $ 40,000</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Fuel type</span>
              <strong class="fw-medium d-block">Gas</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Year of Manufacturing</span>
              <strong class="fw-medium d-block">2018-2022</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">ZIP</span>
              <strong class="fw-medium d-block">20588</strong>
            </div>
            <div class="col-md-6 mt-3">
              <span class="d-block">Distance</span>
              <strong class="fw-medium d-block">20 miles</strong>
            </div>
          </div>
          <div class="iqscore iqscore-view mt-3">
            <span class="pb-1 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="d-flex justify-content-between fw-medium">
              <span>15750</span>
              <span>35000</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-2 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer(s)</span>
            </a>
            <a href="#privateOffer" data-bs-toggle="offcanvas" aria-controls="privateOffer"
              class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Private Seller Offer(s)</span>
            </a>
          </div>
        </div>
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{% static 'images/car1.jpg'%}" alt="" class="w-100 fimg">
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="row text-grplabel">
            <div class="col-md-6 pbox">
              <span class="d-block">Vehicle Type</span>
              <strong class="fw-medium d-block">New</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Make</span>
              <strong class="fw-medium d-block">Mercedes-Benz</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Model</span>
              <strong class="fw-medium d-block">AMG GLB 35 4MATIC</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Price Range</span>
              <strong class="fw-medium d-block">$30,000 - $ 40,000</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Fuel type</span>
              <strong class="fw-medium d-block">Gas</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Year of Manufacturing</span>
              <strong class="fw-medium d-block">2018-2022</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">ZIP</span>
              <strong class="fw-medium d-block">20588</strong>
            </div>
            <div class="col-md-6 mt-3">
              <span class="d-block">Distance</span>
              <strong class="fw-medium d-block">20 miles</strong>
            </div>
          </div>
          <div class="iqscore iqscore-view mt-3">
            <span class="pb-1 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="d-flex justify-content-between fw-medium">
              <span>15750</span>
              <span>35000</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-2 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  0
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer(s)</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  0
                </span>
              </span>
              <span class="chtext d-block pt-1">Private Seller Offer(s)</span>
            </a>
          </div>
        </div>
        <div class="vehicalbx bg-white p-3 p-md-4">
          <figure class="position-relative">
            <img src="{% static 'images/car1.jpg'%}" alt="" class="w-100 fimg">
          </figure>
          <div class="subheading d-flex justify-content-between align-items-center mb-1">
            <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
            <div class="dropdown">
              <i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu editdel-menu">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen me-1"></i> Edit</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash me-1"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="row text-grplabel">
            <div class="col-md-6 pbox">
              <span class="d-block">Vehicle Type</span>
              <strong class="fw-medium d-block">New</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Make</span>
              <strong class="fw-medium d-block">Mercedes-Benz</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Model</span>
              <strong class="fw-medium d-block">AMG GLB 35 4MATIC</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Price Range</span>
              <strong class="fw-medium d-block">$30,000 - $ 40,000</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Fuel type</span>
              <strong class="fw-medium d-block">Gas</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">Year of Manufacturing</span>
              <strong class="fw-medium d-block">2018-2022</strong>
            </div>
            <div class="col-md-6 pbox">
              <span class="d-block">ZIP</span>
              <strong class="fw-medium d-block">20588</strong>
            </div>
            <div class="col-md-6 mt-3">
              <span class="d-block">Distance</span>
              <strong class="fw-medium d-block">20 miles</strong>
            </div>
          </div>
          <div class="iqscore iqscore-view mt-3">
            <span class="pb-1 d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <input type="range" min="1" max="100" value="50" class="slider rounded-pill" id="myRange">
            <div class="d-flex justify-content-between fw-medium">
              <span>15750</span>
              <span>35000</span>
            </div>
          </div>
          <div class="sqbtngrp d-flex justify-content-between text-center mt-2 pt-2">
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Dealer Offer(s)</span>
            </a>
            <a href="#" class="noti-bell text-center w-100">
              <span class="position-relative">
                <img src="{% static 'images/bell.svg'%}" alt="">
                <span class="position-absolute translate-middle rounded-circle text-white text-center fw-bold">
                  4
                </span>
              </span>
              <span class="chtext d-block pt-1">Private Seller Offer(s)</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0 text-center text-md-start">
            <a href="#">Terms of Use</a>
            <span class="mx-3">l</span>
            <a href="#">Privacy Policy</a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0">
          <span class="ms-0 ms-md-3">Follow Us</span>
          <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Wish To Sell -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWishtosell" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Wish to Sell</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{%static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
          <div class="venbr d-block pt-3">
            <span class="d-block">VIN (Vehicle Identification Number)</span>
            <strong class="fw-medium">1V2NR2CA2MC500126</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <strong>15750</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form">
        <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
          <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
          <article>
            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore.</p>
          </article>
        </section>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="form-label fw-medium mb-1">Your Asking Price</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-medium mb-1">Mileage of the Vehicle</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control">
              <span class="input-group-text" id="basic-addon1">Miles</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-buttons text-end">
      <button type="button" class="btn btn-outline-danger">Cancel</button>
      <button type="button" class="btn btn-primary ms-2" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWishtosellSuccess" aria-controls="offcanvasWishtosellSuccess">Submit</button>
    </div>
  </div>
  <!-- Wish To Sell Success -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWishtosellSuccess"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Wish to Sell</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{%static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
          <div class="venbr d-block pt-3">
            <span class="d-block">VIN (Vehicle Identification Number)</span>
            <strong class="fw-medium">1V2NR2CA2MC500126</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <strong>15750</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form wishsell-success text-center pt-4">
        <i class="fa-sharp fa-solid fa-circle-check text-success mb-1"></i>
        <h3 class="heading mt-2">Your request submitted successfully</h3>
        <p>We will let you know if we find an interested buyer</p>
        <button type="button" class="btn btn-primary ms-2">OK</button>
      </div>
    </div>
  </div>
  <!-- Shop For Insurance -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasInsurance" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Shop for Insurance</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shopins-form">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{% static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
          <div class="venbr d-block pt-3">
            <span class="d-block">VIN (Vehicle Identification Number)</span>
            <strong class="fw-medium">1V2NR2CA2MC500126</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <strong>15750</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form">
        <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
          <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
          <article>
            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore.</p>
          </article>
        </section>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="form-label fw-medium mb-1">Currently How Much you are Paying</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-medium mb-1">How Much you want to Pay</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label class="form-label fw-medium mb-1">Current Insurer</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">Insurer 1</option>
              <option value="2">Insurer 2</option>
            </select>
          </div>
          <div class="col-md-12 mb-3 mt-1">
            <div class="form-check">
              <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label fw-medium" for="flexCheckDefault">
                Shop for all Vehicles listed in your Virtual Garage
              </label>
            </div>
          </div>
          <h4 class="heading verify-heading mb-3">Please verify the following information before <br>
            submitting the request.</h4>
          <div class="col-md-12 mb-3">
            <label class="form-label fw-medium mb-2">Is your Vehicle Owned, Financed or Leased</label>
            <div class="d-flex">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Owned
                </label>
              </div>
              <div class="form-check ms-3">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Financed
                </label>
              </div>
              <div class="form-check ms-3">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Leased
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label class="form-label fw-medium mb-2">Primary Use of the Vehicle</label>
            <div class="d-flex">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Commute (to work or school)
                </label>
              </div>
              <div class="form-check ms-2">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Pleasure
                </label>
              </div>
              <div class="form-check ms-2">
                <input class="form-check-input" type="radio" name="Vehicle" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Business (sales, calls , etc.)
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Commute</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Days per week">
              <select class="form-select" style="max-width: 120px;">
                <option selected>Select</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Miles is your commute one-way?</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-text" id="basic-addon1">Miles</span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Annual Mileage of your Vehicle</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Parking Location</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1"># of additional Drivers In The Household</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1"># of Drivers Under The Age Of 25</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Auto Accidents In Past 3 Years</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-medium mb-1">Auto Claims In Past 3 Years</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label fw-medium mb-1">Speeding Tickets In Past 3 Years</label>
            <select class="form-select">
              <option selected>Select</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-buttons text-end">
      <button type="button" class="btn btn-outline-danger">Cancel</button>
      <button type="button" class="btn btn-primary ms-2" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWishtosellSuccess" aria-controls="offcanvasWishtosellSuccess">Submit</button>
    </div>
  </div>
  <!-- Delear Offer -->
  <div class="offcanvas offcanvas-end offcanvas-details" tabindex="-1" id="dealerOffer">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Dealer Offers</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shopins-form py-0">
      <div class="d-flex">
        <div class="nav flex-column nav-pills w-50" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <div class="active offerside-tab card mb-4 position-relative" id="v-pills-one-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">
            <div class="card-body">
              <span class="tag text-uppercase bg-danger fw-medium">CASH OFFER</span>
              <h4 class="fw-bold mt-2 mb-1">2023 Kia Military Specialty Incentive Program</h4>
              <p class="mb-1 pb-1">Up to $300 Customer Cash</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-two-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="true">
            <div class="arrowtag position-absolute">
              Preferred
            </div>
            <div class="card-body">
              <span class="tag text-uppercase bg-warning fw-medium">FINANCE</span>
              <h4 class="fw-bold mt-2 mb-1">2023 Kia Sportage Special Financing</h4>
              <p class="mb-1 pb-1">4.75% APR for 48 Months</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card position-relative" id="v-pills-three-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="true">
            <div class="card-body">
              <span class="tag text-uppercase bg-warning fw-medium">LEASE</span>
              <h4 class="fw-bold mt-2 mb-1">2023 Kia Sportage Lease</h4>
              <p class="mb-1 pb-1">$360 per month for 36 Month</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>


        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab"
            tabindex="0">
            <h2 class="fw-bold">2023 Kia Military Specialty <br>
              Incentive Program</h2>
            <p class="fw-medium">Up to $300 Customer Cash</p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-3 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/kia.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab" tabindex="0">
            <h2 class="fw-bold">2023 Kia Sportage Special Financing</h2>
            <p class="fw-medium">Up to $300 Customer Cash</p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-3 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/kia.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab"
            tabindex="0">
            <h2 class="fw-bold">2023 Kia Sportage Lease</h2>
            <p class="fw-medium">Up to $300 Customer Cash</p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-3 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/kia.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Insurance Offer -->
  <div class="offcanvas offcanvas-end offcanvas-details" tabindex="-1" id="insuranceOffer">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Insurance Offers</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shopins-form py-0">
      <div class="d-flex">
        <div class="nav flex-column nav-pills w-50" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <div class="active offerside-tab card mb-4 position-relative" id="v-pills-insone-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-insone" role="tab" aria-controls="v-pills-insone" aria-selected="true">
            <div class="arrowtag position-absolute">
              Preferred
            </div>
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
              <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler
                insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance,
                24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
              <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-instwo-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-instwo" role="tab" aria-controls="v-pills-instwo" aria-selected="true">
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
              <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler
                insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance,
                24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
              <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-insthree-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-insthree" role="tab" aria-controls="v-pills-insthree" aria-selected="true">
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
              <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler
                insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance,
                24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
              <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>


        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-insone" role="tabpanel"
            aria-labelledby="v-pills-insone-tab" tabindex="0">
            <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
            <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
              & get
              coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
              Assistance, Free Pickup & Drop, Self-Video Claims.</p>
            <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            <p class="pt-1 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/insurance.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-instwo" role="tabpanel" aria-labelledby="v-pills-instwo-tab"
            tabindex="0">
            <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
            <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
              & get
              coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
              Assistance, Free Pickup & Drop, Self-Video Claims.</p>
            <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            <p class="pt-1 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/insurance.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-insthree" role="tabpanel" aria-labelledby="v-pills-insthree-tab"
            tabindex="0">
            <h2 class="fw-bold">Buy/Renew Car Insurance Policy & Save Upto 85%</h2>
            <p class="mb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler insurers
              & get
              coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance, 24x7 Claim
              Assistance, Free Pickup & Drop, Self-Video Claims.</p>
            <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            <p class="pt-1 mb-2">Exp. 09/09/23</p>
            <img src="{% static 'images/insurance.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Service Offer -->
  <div class="offcanvas offcanvas-end offcanvas-details" tabindex="-1" id="serviceOffer">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Service/ Maintenance Offer</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shopins-form py-0">
      <div class="d-flex">
        <div class="nav flex-column nav-pills w-50" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <div class="active offerside-tab card mb-4 position-relative" id="v-pills-serviceone-tab"
            data-bs-toggle="pill" data-bs-target="#v-pills-serviceone" role="tab" aria-controls="v-pills-serviceone"
            aria-selected="true">
            <div class="arrowtag position-absolute">
              Preferred
            </div>
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                firestone credit card</h4>
              <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax
                price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                with your CFNA credit card.</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-servicetwo-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-servicetwo" role="tab" aria-controls="v-pills-servicetwo" aria-selected="true">
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                firestone credit card</h4>
              <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax
                price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                with your CFNA credit card.</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-servicethree-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-servicethree" role="tab" aria-controls="v-pills-servicethree" aria-selected="true">
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your<br>
                firestone credit card</h4>
              <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax
                price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                with your CFNA credit card.</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>
        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-serviceone" role="tabpanel"
            aria-labelledby="v-pills-serviceone-tab" tabindex="0">
            <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
              firestone credit card </h2>
            <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
              Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
              CFNA credit card. </p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-2 mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/service.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-servicetwo" role="tabpanel" aria-labelledby="v-pills-servicetwo-tab"
            tabindex="0">
            <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
              firestone credit card </h2>
            <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
              Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
              CFNA credit card. </p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-2 mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/service.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-servicethree" role="tabpanel"
            aria-labelledby="v-pills-servicethree-tab" tabindex="0">
            <h2 class="fw-bold">$20 Off Any $100 Service Purchase with your
              firestone credit card </h2>
            <p class="mb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax price.
              Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made with your
              CFNA credit card. </p>
            <div class="offfrom py-2 px-3 mt-2 bg-white">
              <span class="d-block">Offer From</span>
              <strong>Auto Mode USA</strong>
              <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                Monee, IL 60449, United States
              </p>
            </div>
            <p class="pt-2 mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/service.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vehicle Offer -->
  <div class="offcanvas offcanvas-end offcanvas-details" tabindex="-1" id="vehicleOffer">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Vehicle Level Offer</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shopins-form py-0">
      <div class="d-flex">
        <div class="nav flex-column nav-pills w-50" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <div class="active offerside-tab card mb-4 position-relative" id="v-pills-vehicleone-tab"
            data-bs-toggle="pill" data-bs-target="#v-pills-vehicleone" role="tab" aria-controls="v-pills-vehicleone"
            aria-selected="true">
            <div class="card-body">
              <span class="tag text-uppercase bg-danger fw-medium">CASH OFFER</span>
              <h4 class="fw-bold mt-2 mb-1">2023 Kia Military Specialty Incentive Program</h4>
              <p class="mb-1 pb-1">Up to $300 Customer Cash</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-vehicletwo-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-vehicletwo" role="tab" aria-controls="v-pills-vehicletwo" aria-selected="true">
            <div class="arrowtag position-absolute">
              Preferred
            </div>
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">$20 Off Any $100 Service Purchase with your <br>
                firestone credit card </h4>
              <p class="mb-1 pb-1">Coupon required. One per vehicle per day. Save off current in-store regular pre-tax
                price. Not valid for the purchase of gift cards or pre-paid maintenance plans. Purchase must be made
                with your CFNA credit card.</p>
              <div class="offfrom py-2 px-3 mt-2 bg-white">
                <span class="d-block">Offer From</span>
                <strong>Auto Mode USA</strong>
                <p class="mb-0"><i class="fa-solid fa-location-dot text-body-tertiary"></i> 5604 W Monee Manhattan Rd,
                  Monee, IL 60449, United States
                </p>
              </div>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

          <div class="offerside-tab card mb-4 position-relative" id="v-pills-vehiclethree-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-vehiclethree" role="tab" aria-controls="v-pills-vehiclethree" aria-selected="true">
            <div class="card-body">
              <h4 class="fw-bold mt-2 mb-1">Buy/Renew Car Insurance Policy & Save Upto 85%</h4>
              <p class="mb-1 pb-1">Car Insurance Online - Buy/Renew car insurance policy online from best four-wheeler
                insurers & get coverage for accidental damages, theft, fire Starting @ $ 5day#. Get Cashless Assurance,
                24x7 Claim Assistance, Free Pickup & Drop, Self-Video Claims.</p>
              <p class="mb-0"><span class="text-primary">Offer From:</span> <strong>State Farm</strong></p>
            </div>
            <div class="card-footer text-body-secondary bg-white d-flex justify-content-between">
              Exp. 09/09/23 <a href="#">View Details</a>
            </div>
          </div>

        </div>
        <div class="tab-content w-50" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-vehicleone" role="tabpanel"
            aria-labelledby="v-pills-vehicleone-tab" tabindex="0">
            <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
            <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
            <p class="mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/vehicle.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-vehicletwo" role="tabpanel" aria-labelledby="v-pills-vehicletwo-tab"
            tabindex="0">
            <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
            <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
            <p class="mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/vehicle.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-vehiclethree" role="tabpanel"
            aria-labelledby="v-pills-vehiclethree-tab" tabindex="0">
            <h2 class="fw-bold">2023 Kia Military Specialty Incentive Program</h2>
            <p class="mb-0 fw-medium">Up to $300 Customer Cash</p>
            <p class="mb-3">Exp. 09/09/23</p>
            <img src="{% static 'images/vehicle.jpg'%}" class="img-fluid rounded" alt="">
            <ul class="px-0 mt-3">
              <li class="pt-1">Eligible Dates: 07/26/23 - 09/09/23</li>
              <li class="pt-1">Includes all trims</li>
              <li class="pt-1">May not be available on all styles</li>
            </ul>
            <h6 class="fw-bold">Deal Terms & Conditions</h6>
            <p>To be eligible for this program, Customers must be members in Active Duty, honorably discharged from,
              retired from, or on disability with the United States Armed Forces (including Reservists). Additionally,
              the spouse of those individuals is also eligible for this program. The eligible customer must be able to
              provide one of the following: a current Earnings Statement, a copy of honorable discharge papers or
              certificate, a bank statement indicating a pension or disability earnings from the United States Armed
              Forces or an official document indicating future pension eligibility. This includes those that have
              "national" status from another country and are serving in the United States military.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Purchase Offer -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="purchaseOffer" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Purchase Offer</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{% static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Audi Q7 45 Premium Plus</h3>
          <div class="venbr d-block pt-3">
            <span class="d-block">VIN (Vehicle Identification Number)</span>
            <strong class="fw-medium">1V2NR2CA2MC500126</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Vehicle IQ<sup>TM</sup> Score</span>
            <strong>15750</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Your Asking Price</span>
            <strong>$20,000</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form">
        <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
          <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
          <article>
            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore.</p>
          </article>
        </section>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$19,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h5 class="card-title fw-medium">Derrick Powell</h5>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$20,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h6 class="card-title fw-medium">USA-1 Auto Sales of Niles</h6>
                <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                  2401 S 11th St, Niles, MI 49120, United States</p>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dealers Offers -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="dealersOffer" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Dealers Offer(s)</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{%static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
          <div class="venbr d-block pt-2">
            <span class="d-block">Make</span>
            <strong class="fw-medium">Mercedes-Benz</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Model</span>
            <strong>AMG GLB 35 4MATIC</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form">
        <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
          <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
          <article>
            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore.</p>
          </article>
        </section>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$19,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h6 class="card-title fw-medium">Auto Mode USA</h6>
                <p class="card-text mb-1 d-flex"><i
                    class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                  5604 W Monee Manhattan Rd, Monee, IL 60449, United States</p>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$20,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h6 class="card-title fw-medium">USA-1 Auto Sales of Niles</h6>
                <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                  2401 S 11th St, Niles, MI 49120, United States</p>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Private Offers -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="privateOffer" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title heading" id="offcanvasExampleLabel">Private Seller Offer</h5>
      <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row wishsell-text pb-4">
        <div class="col-md-5">
          <img class="img-fluid" src="{%static 'images/sell-car.jpg'%}" alt="">
        </div>
        <div class="col-md-7">
          <h3 class="heading mb-0">Mercedes-AMG GLB 35 4MATIC</h3>
          <div class="venbr d-block pt-2">
            <span class="d-block">Make</span>
            <strong class="fw-medium">Mercedes-Benz</strong>
          </div>
          <div class="venbr d-block pt-2">
            <span class="d-block">Model</span>
            <strong>AMG GLB 35 4MATIC</strong>
          </div>
        </div>
      </div>
      <div class="wishsell-form">
        <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
          <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
          <article>
            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore.</p>
          </article>
        </section>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$19,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h6 class="card-title fw-medium">Auto Mode USA</h6>
                <p class="card-text mb-1 d-flex"><i
                    class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                  5604 W Monee Manhattan Rd, Monee, IL 60449, United States</p>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <section
                class="offby-box w-100 h-100 d-flex justify-content-center align-items-center text-white rounded-start">
                <article>
                  <span>Offered Price</span>
                  <h2 class="fw-bold">$20,000</h2>
                </article>
              </section>
            </div>
            <div class="col-md-8 offby-text">
              <div class="card-body py-4">
                <span>Offered By</span>
                <h6 class="card-title fw-medium">USA-1 Auto Sales of Niles</h6>
                <p class="card-text mb-1"><i class="fa-solid fa-location-dot text-body-tertiary opacity-75 me-1"></i>
                  2401 S 11th St, Niles, MI 49120, United States</p>
                <p class="card-text mb-1"><i class="fa-solid fa-phone text-body-tertiary opacity-75 me-1"></i> +1
                  2589637415</p>
                <p class="card-text"><i class="fa-solid fa-envelope text-body-tertiary opacity-75 me-1"></i>
                  derrickpowell@gmail.com</p>
                <h6 class="mb-1">Message</h6>
                <p class="card-textbot mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                  eirmod tempor invidunt ut
                  labore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}