{% extends 'common/base.html' %} {% load static %} {% block content %}

<div class="cmprofile container pb-5 mb-5">
  <section class="lanposter mx-auto text-center">
    <article>
      <h4>
        Hi {{ user.username }}, Welcome to the<br />
        motorHUB (Your Virtual Garage)
      </h4>
      <h2>
        What would you like<br />
        to do First?
      </h2>
    </article>
  </section>
  <div class="row lanposter-sec">
    <section class="col-md-6 text-center">
      <article class="px-5">
        <img src="{%static 'images/vehicle.png'%}" alt="" class="img-fluid" />
        <h3 class="pt-3">Add Your Vehicle(s) to Virtual Garage</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero
        </p>
        {% if user.is_authenticated %}
        <a
          href="{% url 'add-vehicle'%}"
          class="btn btn-primary rounded-circle p-0 d-flex align-items-center justify-content-center mx-auto"
        >
          <span class="btn btn-primary rounded-circle p-0 btn-circle"
            ><i class="fa-solid fa-plus"></i
          ></span>
        </a>
        {% else %} Login is required for Add Vehicle {% endif %}
      </article>
    </section>
    <section class="col-md-6 text-center mt-5 mt-md-0">
      <article class="px-5">
        <img src="{%static 'images/vehicle.png'%}" alt="" class="img-fluid" />
        <h3 class="pt-3">Add Your Future Vehicle(s)</h3>
        <p>
          You can add any vehicle of your choice that you are planning to buy to
          your Wishlist, and Vehicle Dealers associated with MotorDNA will share
          the price quotation with you.
        </p>
        {% if user.is_authenticated %}
        <a
          href="{% url 'add-future-vehicle' %}"
          class="btn btn-primary rounded-circle p-0 d-flex align-items-center justify-content-center mx-auto"
        >
          <span class="btn btn-primary rounded-circle p-0 btn-circle"
            ><i class="fa-solid fa-plus"></i
          ></span>
        </a>
        {% else %} Login is required for Add Vehicle {% endif %}
      </article>
    </section>
  </div>
</div>
{% endblock %}
