{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="row login-outer g-0 h-100">
    <div class="col-lg-6 login-gradient h-100 d-flex flex-column position-relative">
      <div class="px-3 py-4 p-lg-5 mx-md-4 z-1 position-relative text-center text-lg-start">
        <img src="{%static 'images/login-logo.svg'%}" alt="">
        <h1 class="heading pt-4 mb-0 d-none d-lg-block"><span class="text-white">motorDNA Marketplace</span><br>
          Flywheel of Safer and <br>
          Profitable Outcomes</h1>
      </div>
      <div class="grcar h-100 justify-content-end align-items-end z-1 position-relative d-none d-lg-flex">
        <img src="{% static 'images/logo-car.png'%}" alt="">
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center my-4 my-lg-0">
      <div class="card login-form">
        <div class="py-md-4 px-md-5 mx-md-3">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="heading py-2">Login</h2>
            <div class="form-outline mb-3">
              <label class="form-label fw-normal d-block" for="form2Example11">Email Address</label>
              <input type="email" id="form2Example11" class="form-control rounded-0"  name="email" required/>
            </div>

            <div class="form-outline mb-1 position-relative">
              <label class="form-label fw-normal d-block" for="form2Example22">Password</label>
              <input type="password" id="form2Example22" class="form-control rounded-0" name="password" required />
              <a href="#" class="shhi-text position-absolute">
                Show
              </a>
              {% if error_message %}
              <p style="color: red; text-align: left; margin-top: 13px;">Invalid Email or Password.</p>
            {% endif %}
            </div>
            <p class="text-end">
              <a class="text-forypass" href="{% url 'F_password_view'%}">Forgot your password?</a>
            </p>
            <button  class="btn btn-primary btn-block mb-3 w-100 text-uppercase fw-bold" type="submit">Log In</button>
            <!-- <a href="{% url 'my-profile'%}" class="btn btn-primary btn-block mb-3 w-100 text-uppercase fw-bold" type="submit">login</a> -->
          </form>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}