{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="cmprofile container py-4">
  <div class="bg-white whitearea pt-4 pb-5 px-3 px-md-4 px-lg-5">
    <div class="d-flex justify-content-between align-items-center mypro-heading">

      {% if user.u_image %}
      {% if user.first_name %}
      <h1 class="heading mb-0" style="text-transform: uppercase;">{{ user.first_name }} {{ user.last_name }}'s Profile
      </h1>
      {% else %}
      <h1 class="heading mb-0" style="text-transform: uppercase;"> {{ user.username }}'s Profile
        {% endif %}
        {% else %}
        {% if user.u_image %}
        <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small>
        <h1 class="heading mb-0" style="text-transform: uppercase;"> {{ user.first_name }} {{ user.last_name }}'s
          Profile
          {% else %}
          {% if user.first_name %}
          <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small>
          <h1 class="heading mb-0" style="text-transform: uppercase;"> {{ user.first_name }}'s Profile
            {% else %}
            <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small>
            <h1 class="heading mb-0" style="text-transform: uppercase;"></h1> {{ user.username }} 's Profile
            {% endif %}
            {% endif %}
            {% endif %}>
            <a href="{% url 'edit_profile' user.id %}" class="btn btn-primary">Edit Profile</a>
    </div>
    <div class="myprofile">
      <section class="mypic d-flex align-items-center mt-4 mb-3" style=" width: 841px; ">
        {% if profile.user.is_authenticated %}
        {% if user.is_superuser %}
        {% if profile.u_image %}
        <img src="{{ profile.u_image.url }}" alt="User Image" class="rounded-circle me-1"
          style="height: 80px; width: 80px;">
        {% if profile.first_name %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name:- {{ profile.suffix }} {{ profile.first_name }} {{ profile.last_name }}
          {% else %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name:- {{ profile.username }} <br> Mobile :- <br> Email :- {{ profile.email }}</p>
        {% endif %}
        {% else %}
        {% if profile.first_name %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name:- {{ profile.first_name }}<br> Mobile :- <br> Email :- {{ profile.email }}</p>
        {% else %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name:- {{ profile.username }} <br> Mobile :- <br> Email :- {{ profile.email }}</p>
        {% endif %}
        {% endif %}
        {% else %}
        <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Login
        {% endif %}
        {% else %}
        {% if profile.u_image %}
        <img src="{{ profile.u_image.url }}" alt="User Image" class="rounded-circle me-1"
          style="height: 80px; width: 80px;">
        {% if profile.first_name %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name:- {{ profile.suffix }} {{ profile.first_name }} {{ profile.last_name }}<br> Mobile :-
          {% if profile.mobile_code %}
          {{ profile.mobile_code }}_
          {% else %}
          {% endif %}
          {{ profile.mobile }}<br> Email :- {{ profile.email }}</p>
        {% else %}
        <p class="fw-bold mb-1" style=" width: 500px;">Name :- {{ profile.username }}<br> Mobile :-
          {% if profile.mobile_code %}
          {{ profile.mobile_code }}_
          {% else %}
          {% endif %}
          {{ profile.mobile }}<br> Email :- {{ profile.email }}</p>
        {% endif %}
        {% else %}

        {% if profile.first_name %}
        <img src="{% static 'images/blank_profile.png' %}" alt="Blank Profile Image" class="rounded-circle me-1"
          style="height: 80px; width: 80px;">
        <br>
        <p style=" width: 500px;">Name :- {{ profile.suffix }} {{ profile.first_name }} {{ profile.last_name
          }}<br>Mobile :-

          {% if profile.mobile_code %}
          {{ profile.mobile_code }}_
          {% else %}
          {% endif %}
          {{ profile.mobile }}<br>Email :- {{ profile.email }}</p>
        {% else %}
        <img src="{% static 'images/blank_profile.png' %}" alt="Blank Profile Image" class="rounded-circle me-1"
          style="height: 80px; width: 80px;">
        <br>
        <p class="fw-bold mb-1" style=" width: 500px;">Name :- {{ profile.username }}<br> Mobile :- <br> Email :- {{
          profile.email }}</p>
        {% endif %}
        {% endif %}
        {% endif %}


      </section>


      <div class="col-md-8">
        <div class="row text-grplabel">
          <div class="col-md-4 pbox">
            <span class="d-block">Birthday</span>
            {% if profile.dob %}
            <strong class="fw-medium d-block">{{ profile.dob }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-4 pbox">
            <span class="d-block">Gender</span>
            {% if profile.gender %}
            <strong class="fw-medium d-block">{{ profile.gender }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-4 pbox">
            <span class="d-block">Marital Status</span>
            {% if profile.marital_status %}
            <strong class="fw-medium d-block">{{ profile.marital_status }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-12 pbox">
            <span class="d-block">Address</span>
            {% if profile.address %}
            <strong class="fw-medium d-block">{{ profile.address }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-12 pbox">
            <span class="d-block">Apt./Unit</span>
            {% if profile.address2 %}
            <strong class="fw-medium d-block">{{ profile.address2 }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Zip</span>
            {% if profile.zip %}
            <strong class="fw-medium d-block">{{ profile.zip }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-6 pbox">
            <span class="d-block">Type Of Residence</span>
            {% if profile.residence %}
            <strong class="fw-medium d-block">{{ profile.residence }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-12 pbox">
            <span class="d-block">Were you licensed to drive before turning 41 in the U.S., it's Territories or
              Canada?</span>
            {% if profile.licensed_drive_before_41 %}
            <strong class="fw-medium d-block">{{ profile.licensed_drive_before_41 }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-12 pbox">
            <span class="d-block">Are you affiliated with any of the following?</span>
            {% if profile.affiliated_with %}
            <strong class="fw-medium d-block">{{ profile.affiliated_with }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-6 col-lg-4 pbox">
            <span class="d-block">Type of Employment</span>
            {% if profile.employment %}
            <strong class="fw-medium d-block">{{ profile.employment }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-6 col-lg-4 pbox">
            <span class="d-block">Occuption</span>
            {% if profile.occuption %}
            <strong class="fw-medium d-block">{{ profile.occuption }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
          <div class="col-md-6 col-lg-4 pbox">
            <span class="d-block">Job Title</span>
            {% if profile.job_title %}
            <strong class="fw-medium d-block">{{ profile.job_title }}</strong>
            {% else %}
            <strong class="fw-medium d-block">-</strong>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 text-center text-md-start">
          <a href="#">Terms of Use</a>
          <span class="mx-3">l</span>
          <a href="#">Privacy Policy</a>
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0">
        <span class="ms-0 ms-md-3">Follow Us</span>
        <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}