{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <div class="row login-outer g-0 h-100">
    <div class="col-lg-6 login-gradient h-100 d-flex flex-column position-relative">
      <div class="px-3 py-4 p-lg-5 mx-md-4 z-1 position-relative text-center text-lg-start">
        <img src="{% static 'images/login-logo.svg'%}" alt="">
        <h1 class="heading pt-4 mb-0 d-none d-lg-block text-uppercase"><span class="text-white">Largest</span> and<br>
          most accurate <br>
          <span class="text-white">data repository</span>
        </h1>
      </div>
      <div class="grcar h-100 justify-content-end align-items-end z-1 position-relative d-none d-lg-flex">
        <img src="{% static 'images/logo-car.png'%}" alt="">
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center my-4 my-lg-0">
      <div class="card login-form">
        <div class="card-body py-md-4 px-md-5 mx-md-3">
          <form method="POST">
            {% csrf_token %}
            <h2 class="heading py-2">Set Your New Password</h2>
            <div class="form-outline mb-3 position-relative">
              <label class="form-label fw-normal d-block" for="form2Example22">New Password</label>
              <input type="text" id="form2Example22" name="new_password" placeholder="Enter password" class="form-control rounded-0" required autofocus/>
              <a href="#" class="shhi-text position-absolute">
                Show
              </a>
            </div>
            <div class="form-outline mb-3 position-relative">
              <label class="form-label fw-normal d-block" for="form2Example22">Confirm Password</label>
              <input type="text" id="form2Example22" name="confirm_new_password" placeholder="Enter password" class="form-control rounded-0" required autofocus/>
              <a href="#" class="shhi-text position-absolute">
                Show
              </a>
              {% if error_message %}
              <p style="color: red; text-align: left; margin-top: 13px;">New or Confirm Password Are Not Match.</p>
            {% endif %}
            </div>
            <button class="btn btn-primary btn-block mb-3 w-100 text-uppercase fw-bold" type="submit">save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}