{% extends 'common/base.html' %}
{% load static %}
{% block content %}


  <div class="cmprofile container py-4">
    <div class="bg-white whitearea py-3 py-md-4 px-3 px-md-4 px-lg-5">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="heading mb-0">Complete your Profile</h1>
        <a href="{% url 'home'%}" class="skiplink">Skip</a>
      </div>
      <section class="whycom-profile d-flex g-3 mt-4 align-items-start p-3">
        <div class="heicon bg-white rounded-circle text-center me-3"><i class="fa-solid fa-circle-info"></i></div>
        <article>
          <h4 class="mb-1">Why complete your profile?</h4>
          <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
        </article>
      </section>
      <div class="col-md-12 col-lg-10">
        <form class="mt-4">
          <div
            class="upphoto rounded-circle bg-secondary-subtle position-relative d-flex align-items-center justify-content-center mb-3">
            <img src="{% static 'images/camera.png'%}" alt="">
            <input type="file" class="position-absolute">
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <label class="form-label">Name</label>
              <div class="input-group">
                <select class="form-select name-prefix-input">
                  <option selected>Suffix</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" value="donvieo@gmail.com" disabled>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Phone/Mobile Number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="+1" style="max-width: 75px;">
                    <input type="text" class="form-control" value="{{ user_profile.mobile }}">
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Birthday</label>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Gender</label>
                  <select class="form-select">
                    <option selected>Select</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                  </select>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Marital Status</label>
                  <select class="form-select">
                    <option selected>Select</option>
                    <option value="1">Married</option>
                    <option value="2">Unmarried</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Address</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Apt./Unit #</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Zip</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="allradios p-3">
                <label class="form-label">Type Of Residence</label>
                <div class="d-flex mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeofresidence" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Own
                    </label>
                  </div>
                  <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" name="typeofresidence" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Rent
                    </label>
                  </div>
                </div>
                <label class="form-label">Were you licensed to drive before turning 41 in the U.S., it's Territories or
                  Canada?</label>
                <div class="d-flex mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="licensed" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                      Yes
                    </label>
                  </div>
                  <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" name="licensed" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">
                      No
                    </label>
                  </div>
                </div>
                <label class="form-label">Are you affiliated with any of the following?</label>
                <div class="d-flex profile-afffoll-radio">
                  <div class="form-check mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" name="affiliated" id="flexRadioDefault5">
                    <label class="form-check-label" for="flexRadioDefault5">
                      Military
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" name="affiliated" id="flexRadioDefault6">
                    <label class="form-check-label" for="flexRadioDefault6">
                      State/Local Goverment
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" name="affiliated" id="flexRadioDefault7">
                    <label class="form-check-label" for="flexRadioDefault7">
                      Federal Government/Postal Services
                    </label>
                  </div>
                  <div class="form-check ms-0 ms-md-3 mb-1 mb-md-0">
                    <input class="form-check-input" type="radio" name="affiliated" id="flexRadioDefault8">
                    <label class="form-check-label" for="flexRadioDefault8">
                      Dose Not Apply
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label class="form-label">Type of Employment</label>
              <select class="form-select">
                <option selected>Select</option>
                <option value="1">Full Time</option>
                <option value="2">Part Time</option>
              </select>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label">Occuption</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label">Job Title</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-2 pb-4">
              <button type="button" class="btn btn-primary">Save Details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0 text-center text-md-start">
            <a href="{% url 'home'%}">Terms of Use</a>
            <span class="mx-3">l</span>
            <a href="{% url 'home'%}">Privacy Policy</a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0">
          <span class="ms-0 ms-md-3">Follow Us</span>
          <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}