@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "gotham_narrowmedium";
  src: url("../fonts/gothamnarrow-medium-webfont.woff2") format("woff2"), url("../fonts/gothamnarrow-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham_narrowbold";
  src: url("../fonts/GothamNarrow-Bold.woff2") format("woff2"), url("../fonts/GothamNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  background: #fff url(../images/bg_img.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top 70px;
  margin-bottom: 87px;
}

.landing-body {
  background-position: center top -360px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
}
.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  z-index: 1;
  top: 0;
}
.header .dropdown small {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #0081C6;
}
.header .btn-outline-secondary {
  border-color: #E2E2E2;
  padding: 5px 16px 5px 6px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
}
.header .btn-outline-secondary:hover {
  color: rgba(0, 0, 0, 0.8);
  border-color: #0081C6;
  color: #0081C6;
}
.header .btn-check:checked + .btn, .header .btn.active, .header .btn.show, .header .btn:first-child:active, .header :not(.btn-check) + .btn:active {
  color: #0081C6;
  border-color: #0081C6;
}
.header .dropdown-toggle::after {
  margin-left: 8px;
}
.header .dropdown-menu {
  border-color: #E2E2E2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.header .dropdown-menu {
  top: 10px !important;
}
.header .dropdown-menu::before, .header .dropdown-menu::after {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #E2E2E2;
  position: absolute;
  content: "";
  top: -9px;
  left: 16px;
}
.header .dropdown-menu::after {
  border-bottom-color: #fff;
  top: -8px;
  left: 16px;
}

.logo span {
  background: #D8D8D8;
  width: 1px;
  height: 30px;
}

.noti-bell {
  font-size: 22px;
  color: #003A74;
}
.noti-bell .rounded-circle {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background: #FF8000;
  right: -14px;
  top: 8px;
}

.whitearea {
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.heading {
  font-size: 30px;
  font-family: "gotham_narrowbold";
  color: #0091CE;
  font-weight: 400;
}
.heading a {
  color: #0081C6;
}

.skiplink {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: "gotham_narrowmedium";
  font-weight: 400;
}
.skiplink:hover {
  text-decoration: none;
}

.whycom-profile {
  background: linear-gradient(to right, #F1F8FE, #fff);
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
}
.whycom-profile .heicon {
  min-width: 33px;
  min-height: 33px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  line-height: 33px;
  color: #05A6F6;
}
.whycom-profile h4 {
  font-size: 16px;
  font-family: "gotham_narrowbold";
  font-weight: 400;
}
.whycom-profile p {
  font-size: 15px;
}

.upphoto {
  width: 85px;
  height: 85px;
  cursor: pointer;
}
.upphoto input {
  inset: 0;
  opacity: 0;
}

.form-label {
  color: #212121;
  font-weight: 700;
}

.form-control, .form-select {
  border-color: #C8C8C8;
  height: 56px;
}

.form-control:disabled {
  background-color: #F5F5F5;
}

.allradios {
  border-radius: 3px;
  border: 1px solid #C8C8C8;
}

.form-check-input {
  border-color: #707070;
  width: 17px;
  height: 17px;
}

.btn {
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  padding: 12px 24px;
  transition: all 0.5s ease;
}

.btn-primary {
  background: #075AAE;
  border-color: #075AAE;
}

.btn-primary:hover {
  background: #06498c;
  border-color: #06498c;
}

.btn-primary-one {
  background: #0081C6;
  border-color: #0081C6;
}

.btn-primary-one:hover {
  background: #006ca6;
  border-color: #006ca6;
}

.footer {
  background: linear-gradient(to right, #0767BE, #003A74);
  line-height: 1;
  padding: 35px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87px;
}
.footer a, .footer span {
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.lanposter {
  background: url("/static/images/Poster_img.png") no-repeat 0 0;
  width: 514px;
  height: 432px;
  padding-top: 160px;
}
.lanposter h4 {
  font-size: 19px;
  font-family: "gotham_narrowmedium";
}
.lanposter h2 {
  font-size: 26px;
  font-family: "gotham_narrowbold";
  color: #0081C6;
}

.lanposter-sec {
  margin-top: -82px;
}
.lanposter-sec h3 {
  font-size: 26px;
  font-family: "gotham_narrowbold";
}
.lanposter-sec p {
  font-size: 14px;
  color: #000;
}
.lanposter-sec .btn-primary {
  width: 60px;
  height: 60px;
  background: #0081C6;
  border-color: #0081C6;
}
.lanposter-sec .btn-primary:hover {
  background: #006fab;
  border-color: #006fab;
}

.hemenu a {
  font-size: 20px;
  color: #0081C6;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
  padding-bottom: 5px;
}
.hemenu a:hover, .hemenu a.active {
  color: #003A74;
  border-bottom-color: #003A74;
}

.homepage .heading {
  font-size: 34px;
  color: #003A74;
}

.btn-circle {
  width: 56px;
  height: 56px;
  background: #003A74;
  border-color: #003A74;
  line-height: 56px;
}

.custom-tooltip {
  --bs-tooltip-bg: #0081C6;
  font-size: 16px;
  font-weight: 500;
}
.custom-tooltip .tooltip-inner {
  padding: 12px 18px;
}

.yfvcustom-tooptip .tooltip-inner {
  min-width: 254px;
}

.vehicalbx {
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.vehicalbx .fimg {
  border-radius: 15px;
}
.vehicalbx .tag {
  font-family: "gotham_narrowbold";
  border-radius: 3px 3px 3px 0px;
  background: #FF8000;
  top: 19px;
  left: -11px;
  color: #fff;
  padding: 9px 20px;
}
.vehicalbx .tag::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #722100;
  bottom: -7px;
  left: 1px;
  transform: rotate(46deg);
}
.vehicalbx figure .noti-bell {
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
}
.vehicalbx figure .noti-bell .rounded-circle {
  right: -4px;
}
.vehicalbx .subheading .heading {
  font-size: 28px;
}
.vehicalbx .subheading i {
  font-size: 25px;
}
.vehicalbx .subheading .dropdown i {
  cursor: pointer;
}
.vehicalbx .subheading .dropdown-item {
  font-size: 12px;
}
.vehicalbx .subheading .dropdown-item i {
  font-size: 10px;
}
.vehicalbx .venbr {
  font-size: 20px;
  font-weight: 500;
}
.vehicalbx .venbr span {
  font-size: 16px;
  font-weight: 400;
}
.vehicalbx .btn {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px;
}
.vehicalbx .btn-primary {
  background: #003A74;
  border-color: #003A74;
}
.vehicalbx .btn-primary:hover {
  background: #002a54;
  border-color: #002a54;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  background: linear-gradient(to right, #FF0000, #FEC81E, #6EC329);
  outline: none;
  transition: opacity 0.2s;
  border: 1px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #171717;
  margin-top: -15px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.iqscore {
  position: relative;
  margin-bottom: 52px;
}

.iqscore-view .slider::-webkit-slider-thumb {
  display: none !important;
}

.rangevalue {
  background: #171717;
  font-weight: 500;
  padding: 8px 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sqbtngrp {
  gap: 12px;
}
.sqbtngrp img {
  width: 24px;
}
.sqbtngrp a {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.sqbtngrp a:hover {
  background: #f5f5f5;
}
.sqbtngrp .chtext {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.slick-list {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.slick-prev, .slick-next {
  background: #fff !important;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  color: #003A74;
  border: 1px solid #DBDBDB;
}

.slick-prev {
  left: -87px;
}

.slick-next {
  right: -87px;
}

.slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
}

.slick-track {
  padding: 8px 0;
}

.text-grplabel strong {
  font-size: 20px;
  line-height: 1;
}
.text-grplabel .pbox {
  margin-top: 16px;
}

.editdel-menu {
  min-width: 106px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-color: #DCDCDC;
}

.add-blank {
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.add-blank .heading {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.add-blank p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.add-blank .btn-circle {
  width: 48px;
  height: 48px;
  background: #0081C6;
  border-color: #0081C6;
  line-height: 48px;
}

.offcanvas.offcanvas-end {
  width: 650px;
  padding-right: 12px;
}

.offcanvas-left {
  max-width: 650px;
  min-width: 650px;
  padding-right: 12px;
}

.offcanvas-right {
  min-width: 610px !important;
  background: #fff;
  margin: 20px;
  overflow-y: auto;
  height: calc(100vh - 40px);
  border-radius: 10px;
  padding: 10px 25px 30px 30px !important;
}

.m-detail-close {
  font-size: 20px;
  cursor: pointer;
}

.offcanvas-title {
  font-size: 24px;
}

.offcanvas-header {
  border-bottom: 1px solid #D8D8D8;
  padding: 20px 30px;
  margin-right: -12px;
}
.offcanvas-header .btn-close {
  width: 29px;
  height: 29px;
  position: absolute;
  left: -48px;
  opacity: 1;
  padding: 0;
  background-size: 11px;
}

.offcanvas.offcanvas-start {
  width: 1280px;
  background: none;
  border: 0;
}
.offcanvas.offcanvas-start .offcanvas-header .btn-close {
  background-size: 15px;
}

.wishsell-text .heading {
  font-size: 22px;
  color: #003A74;
}
.wishsell-text strong {
  font-size: 20px;
}

.wishsell-form {
  border-top: 1px solid #D8D8D8;
}

.offcanvas-body {
  padding: 30px;
  margin: 12px 0;
  height: calc(100vh - 100px);
}
.offcanvas-body img {
  border-radius: 15px;
}

.input-group-text {
  background-color: #fff;
  border-color: #C8C8C8;
  padding: 0.375rem 1rem;
}

.offcanvas-buttons {
  border-top: 1px solid #D8D8D8;
  padding: 26px 30px;
}
.offcanvas-buttons .btn {
  padding: 11px 20px;
  font-size: 16px;
}

.btn-outline-danger {
  border-color: #FF0000;
  color: #FF0000;
}
.btn-outline-danger:hover {
  background: #FF0000;
  color: #fff;
}

.wishsell-success i {
  font-size: 43px;
}
.wishsell-success .heading {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "gotham_narrowmedium";
}
.wishsell-success p {
  font-size: 18px;
}
.wishsell-success .btn {
  padding: 6px 17px;
  font-size: 16px;
}

.text-success {
  color: #009E20 !important;
}

.shopins-form .form-label {
  font-size: 15px;
}

.form-check-input[type=checkbox] {
  width: 19px;
  height: 19px;
  border-color: #C8C8C8;
  margin-top: 2px;
}

.verify-heading {
  font-size: 20px;
  font-family: "gotham_narrowmedium";
}

.upsticker {
  width: 82px;
  height: 67px;
  border-radius: 3px !important;
  background: #EBEBEB;
}

.add-vehicle .text-grplabel span {
  font-size: 14px;
}
.add-vehicle .text-grplabel strong {
  font-size: 16px;
}
.add-vehicle .text-grplabel {
  padding-bottom: 12px;
}
.add-vehicle .text-grplabel .pbox {
  margin-top: 10px;
}
.add-vehicle .montharea .upsticker {
  width: 126px;
  height: 39px;
  border-radius: 3px !important;
  background: #EBEBEB;
  font-size: 15px;
}
.add-vehicle .montharea .upsticker img {
  width: 13px;
}
.add-vehicle .montharea .txt-addmore {
  color: #003A74;
  font-size: 14px;
}

.upsere-date {
  height: 39px;
  font-size: 15px;
}

.vehiclephoto-static img {
  width: 82px;
  height: 67px;
  border-radius: 3px;
}
.vehiclephoto-static figcaption {
  bottom: 0;
  background: #FF0000 !important;
  border-radius: 0 0 3px 3px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 9px;
  padding: 2px 0;
  cursor: pointer;
}

.add-adddetails .title {
  font-size: 19px;
  color: #212121;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.add-adddetails .title i::before {
  color: #003A74;
  content: "\f055";
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  font-style: normal;
}
.add-adddetails .title.active i::before {
  content: "\f056";
}

.add-adddetail-form {
  display: none;
}

.offcanvas-details.offcanvas-end {
  width: 1255px;
}

.shopins-form .bg-danger {
  background: #FD2E58 !important;
}
.shopins-form .bg-warning {
  background: #DF8900 !important;
}
.shopins-form .tag {
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  padding: 4px 5px;
}
.shopins-form h4 {
  font-size: 18px;
}
.shopins-form .offfrom {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}
.shopins-form .offfrom span {
  font-size: 14px;
  color: #0081C6;
}
.shopins-form .offfrom i {
  font-size: 14px;
  position: relative;
  top: -1px;
}
.shopins-form .card-footer a {
  color: #212121;
  text-decoration: underline;
}
.shopins-form .card-footer a:hover {
  text-decoration: none;
}
.shopins-form .arrowtag {
  background: linear-gradient(to right, #2D8400, #30A100);
  padding: 3px 15px;
  font-family: "gotham_narrowbold";
  color: #fff;
  top: 10px;
  right: -10px;
  font-weight: 400;
}
.shopins-form .arrowtag::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #216E00;
  bottom: -6px;
  right: 0px;
  transform: rotate(314deg);
}
.shopins-form .arrowtag::before {
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #2d8400;
  position: absolute;
  content: "";
  left: -15px;
  top: 0px;
}
.shopins-form .tab-content {
  padding: 30px 0 30px 30px;
}
.shopins-form .tab-content h2 {
  font-size: 24px;
}
.shopins-form .tab-content ul {
  list-style-position: inside;
}
.shopins-form .tab-content p {
  line-height: 28px;
}
.shopins-form p .text-primary {
  color: #0081C6 !important;
}

.offerside-tab {
  cursor: pointer;
}
.offby-box {
  background: #003A74;
}
.offby-box::before, .offby-box::after {
  background: url(../images/celebrate.png) no-repeat 0 0;
  width: 151px;
  height: 48px;
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.offby-box::after {
  bottom: 5px;
  top: auto;
  transform: rotatex(180deg) translateX(-50%);
}

.offby-text i {
  font-size: 14px;
  margin-top: 5px;
}
.offby-text .card-textbot {
  font-size: 14px;
}

.pagination-outer .form-select {
  max-width: 176px;
  height: 34px;
  font-size: 14px;
  border-radius: 0;
  border-color: #979797;
}
.pagination-outer .page-link {
  border-color: #979797;
  color: #333333;
  height: 34px;
}

.mypro-heading .btn {
  padding: 7px 14px;
  font-size: 16px;
}

.myprofile .mypic {
  width: 85px;
  height: 85px;
}
.myprofile .text-grplabel .pbox {
  margin-top: 25px;
}

.name-prefix-input {
  max-width: 120px;
}

.login-body {
  background: #F8F8F8;
  height: 100vh;
}

.login-gradient {
  background: linear-gradient(to right, #0369C0, #00277C);
}
.login-gradient::before {
  position: absolute;
  background: url("../images/login-bg.png") no-repeat 0 0/cover;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
}
.login-gradient .heading {
  font-size: 58px;
  color: #00B3FF;
  line-height: 76px;
}
.login-gradient .grcar {
  padding: 0 80px 50px 0;
}
.login-gradient .grcar img {
  width: 440px;
}

.login-form {
  border-color: #DBDBDB;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
  border-radius: 0;
  width: 496px;
}
.login-form h2 {
  color: #134985;
}
.login-form .form-label {
  margin-bottom: 3px;
}
.login-form .form-control {
  border-color: #DCDCDC;
  box-shadow: inherit;
  transition: all 0.5s ease;
}
.login-form .form-control:focus {
  border-color: #134985;
}
.login-form .shhi-text {
  font-size: 14px;
  color: #212121;
  right: 20px;
  bottom: 16px;
}
.login-form .shhi-text:hover {
  text-decoration: none;
}
.login-form .text-forypass {
  font-size: 14px;
  color: #344855;
}
.login-form .text-forypass:hover {
  text-decoration: none;
}
.login-form .btn-primary {
  background: #0091CE;
  border-color: #0091CE;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 16px;
}
.login-form .btn-primary:hover {
  background: #0283B9;
}
.login-form .rempass a {
  color: #0091CE;
}
.login-form .rempass a:hover {
  text-decoration: none;
}
.login-form .forpas-heading a {
  color: #134985;
  font-size: 22px;
  left: -37px;
  top: 13px;
}

.text-danger {
  color: #FF0000 !important;
}

.static-tooltip {
  background: #0081C6;
  border-radius: 5px;
  padding: 15px 20px;
}
.static-tooltip::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #0081C6;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.card-header {
  font-size: 18px;
}

.offcanvas-right {
  display: none;
}

/* width */
.offcanvas-body::-webkit-scrollbar, .scrollbar-body::-webkit-scrollbar {
  width: 10px;
  margin-right: 12px;
}

/* Track */
.offcanvas-body::-webkit-scrollbar-track, .scrollbar-body::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

/* Handle */
.offcanvas-body::-webkit-scrollbar-thumb, .scrollbar-body::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}

/* Handle on hover */
.offcanvas-body::-webkit-scrollbar-thumb:hover, .scrollbar-body::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

.btn-sttooltip {
  text-decoration: none;
}

@media (max-width: 1600px) {
  .login-gradient .heading {
    font-size: 45px;
    line-height: 60px;
  }
  .login-gradient .grcar img {
    width: 350px;
  }
}
@media (max-width: 1399px) {
  .form-label {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .login-gradient, .login-outer {
    height: auto !important;
  }
  .login-gradient img {
    width: 200px;
  }
  .login-form .forpas-heading a {
    left: 0;
    top: -25px;
  }
  .login-form form {
    padding-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .name-prefix-input {
    max-width: 95px;
  }
  .form-label {
    font-size: 14px;
  }
  .profile-afffoll-radio {
    flex-wrap: wrap;
    gap: 10px;
  }
  .profile-afffoll-radio .form-check {
    margin: 0 !important;
  }
  .vehicalbx .tag {
    font-size: 12px;
    padding: 5px 10px;
  }
  .vehicalbx .subheading .heading {
    font-size: 22px;
  }
  .sqbtngrp {
    flex-wrap: wrap;
  }
  .sqbtngrp a {
    width: 47% !important;
  }
  .text-grplabel strong {
    font-size: 16px;
  }
  .logo {
    margin-bottom: 10px;
  }
  .logo a .dna-logo {
    width: 110px;
  }
  .logo a .hub-logo {
    width: 90px;
  }
  .hemenu a {
    font-size: 13px;
  }
  .slick-next {
    right: -20px;
    z-index: 1;
  }
  .slick-prev {
    left: -20px;
    z-index: 1;
  }
  .slick-prev, .slick-next {
    width: 37px;
    height: 37px;
  }
  .offcanvas-details.offcanvas-end, .offcanvas-details.offcanvas-start {
    width: 100%;
  }
  .offcanvas-header .btn-close {
    position: initial;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-bottom: 10px;
  }
  .logo a .dna-logo {
    width: 110px;
  }
  .logo a .hub-logo {
    width: 90px;
  }
  .header-rpart {
    flex-direction: column;
  }
  .hemenu {
    width: 100%;
    border-top: 1px solid #E2E2E2;
    padding: 8px 0 0;
    display: flex;
    justify-content: center;
    margin: 0 0 8px !important;
  }
  .hemenu a {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .he-usernotification {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-top: 1px solid #E2E2E2;
    padding-top: 10px;
  }
  .noti-bell img {
    width: 16px;
  }
  .header .btn-outline-secondary {
    font-size: 14px;
  }
  .header .dropdown small {
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 10px;
  }
  .heading {
    font-size: 24px;
  }
  .skiplink {
    font-size: 15px;
  }
  .whitearea {
    border-radius: 10px;
  }
  .name-prefix-input {
    max-width: 90px;
  }
  .profile-afffoll-radio {
    flex-direction: column;
  }
  .footer {
    padding: 23px 0;
  }
  .lanposter {
    width: 300px;
    height: 320px;
    background-size: contain;
    padding-top: 85px;
  }
  .lanposter h4 {
    font-size: 16px;
  }
  .lanposter h2 {
    font-size: 20px;
  }
  body {
    background: #fff;
  }
  .btn-circle {
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .homepage .heading {
    font-size: 24px;
  }
  .vehicalbx.slick-current {
    outline: 0;
  }
  .vehicalbx .subheading .heading {
    font-size: 22px;
  }
  .vehicalbx .subheading i {
    font-size: 20px;
  }
  .vehicalbx .venbr {
    font-size: 18px;
  }
  .sqbtngrp .chtext {
    line-height: 18px;
  }
  .sqbtngrp a {
    padding: 15px 5px;
  }
  .vehicalbx .tag {
    font-size: 12px;
    padding: 5px 10px;
  }
  .vehicalbx figure .noti-bell {
    width: 35px;
    height: 35px;
  }
  .slick-dots li button:before {
    font-size: 26px;
  }
  .slick-dots li.slick-active button:before {
    color: #FF8000;
    opacity: 1;
  }
  .slick-dots li {
    margin: 0;
  }
  .text-grplabel span {
    font-size: 14px;
  }
  .text-grplabel strong {
    font-size: 16px;
  }
  .add-blank .heading {
    font-size: 20px;
  }
  .slick-list {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .slick-slide {
    margin-left: 5px;
    margin-right: 5px;
  }
  .offcanvas-header .btn-close {
    background-color: #f5f5f5 !important;
    position: inherit;
  }
  .offcanvas-header, .offcanvas-buttons {
    padding: 10px 20px;
  }
  .offcanvas-body {
    padding: 20px;
    height: calc(100vh - 70px);
  }
  .wishsell-text span {
    font-size: 14px;
  }
  .wishsell-text strong {
    font-size: 18px;
  }
  .shopins-form h4 br {
    display: none;
  }
  .mflex-dircolum {
    flex-direction: column;
  }
  .form-label {
    font-size: 15px;
    line-height: 20px;
  }
  .shopins-form .nav-pills, .shopins-form .tab-content {
    border-right: 0;
    padding: 30px 0;
  }
  .offcanvas-outer {
    flex-direction: column;
  }
  .shopins-form .tab-content {
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    padding: 20px !important;
    overflow-y: scroll;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    min-width: 100% !important;
    margin: 0;
    border-radius: 0;
  }
  .m-detail-back {
    color: #0081C6;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .offby-box {
    padding: 60px 0;
    border-radius: 4px 4px 0 0 !important;
  }
  .shopins-form h4 {
    padding-right: 90px;
  }
  .btn {
    padding: 7px 14px;
    font-size: 16px;
  }
  .login-form {
    width: 90%;
    padding: 0 20px;
  }
  .offcanvas.offcanvas-start {
    width: 100%;
  }
  .offcanvas-right {
    display: block;
  }
  .offcanvas-left {
    padding-right: 5px;
    max-width: 100%;
    min-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */