{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title%}{% endblock %} Motor Hub</title>
    <script
      src="https://kit.fontawesome.com/5e10c3a9a8.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css.map' %}" />
    <link rel="stylesheet" href="{% static 'css/main.scss' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
    {% block style %}{% endblock %}
  </head>

  <body class="landing-body">
    <!-- Header block -->
    {% include './header.html' %}

    <!-- dynamic content block -->
    {% block content %} {% endblock %}

    <!-- Footer block -->
    <footer class="footer mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0 text-center text-md-start">
              <a href="#">Terms of Use</a>
              <span class="mx-3">l</span>
              <a href="#">Privacy Policy</a>
            </p>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0"
          >
            <span class="ms-0 ms-md-3">Follow Us</span>
            <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="ms-3"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script%} {% endblock %}
  </body>
</html>
