{% load static %}

<footer class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 text-center text-md-start">
          <a href="#">Terms of Use</a>
          <span class="mx-3">l</span>
          <a href="#">Privacy Policy</a>
        </p>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center justify-content-md-end foright mt-3 mt-md-0"
      >
        <span class="ms-0 ms-md-3">Follow Us</span>
        <a href="#" class="ms-3"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
