{% load static %}
<header class="header bg-white py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-6">
        <div class="logo">
          <a
            href="{% url 'home'%}"
            class="d-flex align-items-center justify-content-center justify-content-md-start"
          >
            <img
              src="{%static 'images/logo.svg' %}"
              alt=""
              class="dna-logo"
            /><span class="mx-2 mx-md-3"></span
            ><img
              src="{% static 'images/logo-hub.svg' %}"
              alt=""
              class="hub-logo"
            />
          </a>
        </div>
      </div>
      <div
        class="col-md-7 col-lg-6 d-flex justify-content-end align-items-center header-rpart"
      >
        <ul class="hemenu list-inline mb-0 me-0 me-md-1">
          <li>
            <a href="#vehicles" class="menu-item-1" style=" margin-left: -58px;">Vehicles</a>
            <a
              href="#future-vehicle"
              class="menu-item-2 mx-4 me-0 me-md-3 me-lg-4"
              >Future Vehicle</a
            >
          </li>
        </ul>
        <div class="d-flex he-usernotification align-items-center">
          <a
            href="{% url 'garage_offer'%}"
            class="noti-bell position-relative me-0 me-md-3"
          >
            <img src="{% static 'images/bell.svg' %}" alt="" />
            <span
              class="position-absolute translate-middle rounded-circle text-white text-center fw-bold"
            >
              4
            </span>
          </a>
          <div class="dropdown ms-0 ms-md-4">
            <button
              class="btn btn-outline-secondary bg-white rounded-pill dropdown-toggle d-flex align-items-center"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    {% if user.u_image %}
                        <img src="{{ user.u_image.url }}" alt="User Image" class="rounded-circle me-1" style="height: 32px; width: 32px;">
                        {% if user.first_name %}
                            Welcome, {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Welcome, {{ user.username }}
                        {% endif %}
                    {% else %}
                        {% if user.u_image %}
                            <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Welcome, {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                          {% if user.first_name %}
                              <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Welcome, {{ user.first_name }}
                            {% else %}
                              <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Welcome, {{ user.username }} 
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Login
                {% endif %}
            {% else %}
                <small class="text-white rounded-circle me-2"><i class="fa-solid fa-user"></i></small> Login
            {% endif %}


        
            </button>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'my-profile' %}"
                  >My Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li><a class="dropdown-item" href="#">Signup</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
